@model IEnumerable< ua.kozubka.context.ViewModels.RROViewModels.ShopViewModels.RROCartViewModel>
<li id="rro-cart"><a asp-controller="Shop" asp-action="Receipt"><i class="lni lni-shopping-basket"></i><span class="badge bg-warning count-rro-item">@Model.Count()</span>Чек</a></li>