<section id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div id="profile" class="center-block">
                    <img src="~/images/myfoto.jpg">
                </div>
                <div id="intro-div" class="card content-wrapper">
                    <ul class="text-center list-inline">
                        <li><a href="https://www.linkedin.com/in/pavel-zhdanov-77607565" target="_blank"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/pavel.zhdanov.73/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                    </ul>
                    <p class="text-center">
                        Добый день! Меня зовут Павел. Я программист и системный администратор в одном лице.  
                    </p>

                    <div class="row">
                        <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
                            <a href="#contact" class="btn waves-effect waves-light btn-primary custom-btn">Мои Контакты</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>