
<!--==========================================
               ACHIEVEMENT
===========================================-->
<section id="achievement" class="section">
    <h4 class="text-uppercase text-center">Achievement</h4>
    <div class="container">
        <div class="row">

            <!-- 1st Achievement -->
            <div class="col col-md-4 col-sm-6 col-xs-12">
                <div class="achievement">
                    <div class="achievement-top-bar">
                        <!-- Achievement Title Here -->
                        <h5 class="text-center text-capitalize">ACM Software System Award</h5>
                    </div>
                    <div class="achievement-inner">
                        <div class="achievement-header">
                            <div class="achievement-heading">
                                <!-- Icon and Date -->
                                <i class="text-center ion-ribbon-a"></i>
                                <h6 class="text-center">June 2016</h6>
                            </div>

                            <!-- Button ID For Content ID -->
                            <a id="btn-1" class="btn-floating waves-effect waves-light btn-large achievement-more-btn custom-btn"
                               data-aos="zoom-in" data-aos-delay="300">
                                <i class="ion-ios-arrow-down"></i>
                            </a>
                        </div>

                        <!-- Content ID -->
                        <div id="content-1" class="achievement-content">
                            <!-- Description -->
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                venenatis pharetra mi, ut vestibulum elit ultricies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./1st Achievement -->

            <!-- 2nd Achievement -->
            <div class="col col-md-4 col-sm-6 col-xs-12">
                <div class="achievement">
                    <div class="achievement-top-bar">
                        <!-- Achievement Title Here -->
                        <h5 class="text-center text-capitalize">National Badminton Champion</h5>
                    </div>
                    <div class="achievement-inner">
                        <div class="achievement-header">
                            <div class="achievement-heading">
                                <!-- Icon and Date -->
                                <i class="text-center ion-trophy"></i>
                                <h6 class="text-center">April 2016</h6>
                            </div>

                            <!-- Button ID For Content ID -->
                            <a id="btn-2" class="btn-floating waves-effect waves-light btn-large achievement-more-btn custom-btn"
                               data-aos="zoom-in" data-aos-delay="300">
                                <i class="ion-ios-arrow-down"></i>
                            </a>
                        </div>

                        <!-- Content ID -->
                        <div id="content-2" class="achievement-content">
                            <!-- Description -->
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                venenatis pharetra mi, ut vestibulum elit ultricies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./2nd Achievement -->

            <!-- 3rd Achievement -->
            <div class="col col-md-4 col-sm-6 col-xs-12">
                <div class="achievement">
                    <div class="achievement-top-bar">
                        <!-- Achievement Title Here -->
                        <h5 class="text-center text-capitalize">Microsoft Award</h5>
                    </div>
                    <div class="achievement-inner">
                        <div class="achievement-header">
                            <div class="achievement-heading">
                                <!-- Icon and Date -->
                                <i class="text-center ion-ribbon-b"></i>
                                <h6 class="text-center">June 2015</h6>
                            </div>

                            <!-- Button ID For Content ID -->
                            <a id="btn-3" class="btn-floating waves-effect waves-light btn-large achievement-more-btn custom-btn"
                               data-aos="zoom-in" data-aos-delay="300">
                                <i class="ion-ios-arrow-down"></i>
                            </a>
                        </div>

                        <!-- Content ID -->
                        <div id="content-3" class="achievement-content">
                            <!-- Description -->
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                venenatis pharetra mi, ut vestibulum elit ultricies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./3rd Achievement -->

            <!-- 4th Achievement -->
            <div class="col col-md-4 col-sm-6 col-xs-12">
                <div class="achievement">
                    <div class="achievement-top-bar">
                        <!-- Achievement Title Here -->
                        <h5 class="text-center text-capitalize">Fire Bal Pro Membership</h5>
                    </div>
                    <div class="achievement-inner">
                        <div class="achievement-header">
                            <div class="achievement-heading">
                                <!-- Icon and Date -->
                                <i class="text-center ion-fireball"></i>
                                <h6 class="text-center">May 2015</h6>
                            </div>

                            <!-- Button ID For Content ID -->
                            <a id="btn-4" class="btn-floating waves-effect waves-light btn-large achievement-more-btn custom-btn"
                               data-aos="zoom-in" data-aos-delay="300">
                                <i class="ion-ios-arrow-down"></i>
                            </a>
                        </div>

                        <!-- Content ID -->
                        <div id="content-4" class="achievement-content">
                            <!-- Description -->
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                venenatis pharetra mi, ut vestibulum elit ultricies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./4th Achievement -->

            <!-- 5th Achievement -->
            <div class="col col-md-4 col-sm-6 col-xs-12">
                <div class="achievement">
                    <div class="achievement-top-bar">
                        <!-- Achievement Title Here -->
                        <h5 class="text-center text-capitalize">National Biking Champion</h5>
                    </div>
                    <div class="achievement-inner">
                        <div class="achievement-header">
                            <div class="achievement-heading">
                                <!-- Icon and Date -->
                                <i class="text-center ion-android-bicycle"></i>
                                <h6 class="text-center">April 2014</h6>
                            </div>

                            <!-- Button ID For Content ID -->
                            <a id="btn-5" class="btn-floating waves-effect waves-light btn-large achievement-more-btn custom-btn"
                               data-aos="zoom-in" data-aos-delay="300">
                                <i class="ion-ios-arrow-down"></i>
                            </a>
                        </div>

                        <!-- Content ID -->
                        <div id="content-5" class="achievement-content">
                            <!-- Description -->
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                venenatis pharetra mi, ut vestibulum elit ultricies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./5th Achievement -->

            <!-- 6th Achievement -->
            <div class="col col-md-4 col-sm-6 col-xs-12">
                <div class="achievement">
                    <div class="achievement-top-bar">
                        <!-- Achievement Title Here -->
                        <h5 class="text-center text-capitalize">ECO Club Pro Membership</h5>
                    </div>
                    <div class="achievement-inner">
                        <div class="achievement-header">
                            <div class="achievement-heading">
                                <!-- Icon and Date -->
                                <i class="text-center ion-leaf"></i>
                                <h6 class="text-center">June 2014</h6>
                            </div>

                            <!-- Button ID For Content ID -->
                            <a id="btn-6" class="btn-floating waves-effect waves-light btn-large achievement-more-btn custom-btn"
                               data-aos="zoom-in" data-aos-delay="300">
                                <i class="ion-ios-arrow-down"></i>
                            </a>
                        </div>

                        <!-- Content ID -->
                        <div id="content-6" class="achievement-content">
                            <!-- Description -->
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                venenatis pharetra mi, ut vestibulum elit ultricies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./6th Achievement -->

        </div>
    </div>
</section>