
<!--==========================================
                   BLOG
===========================================-->
<section id="blog" class="section">
    <h4 class="text-uppercase text-center">From Blog</h4>
    <div class="container">
        <div class="row">

            <!-- 1st blog post -->
            <div class="col col-md-4 col-sm-12 col-xs-12">
                <div class="card blog">
                    <!-- Blog image here -->
                    <img class="img-responsive" src="images/blog/blog1.jpg">
                    <div class="blog-content">
                        <!-- Edit title and info here -->
                        <div class="blog-title">
                            <h6 class="text-capitalize">Blog title will be placed here</h6>
                            <ul>
                                <li><i class="ion-calendar"></i>28 July</li>
                                <li><i class="ion-heart"></i>87</li>
                                <li><i class="ion-android-share-alt"></i>26</li>
                            </ul>
                            <!-- Add link of full post -->
                            <a href="post.html" target="_blank" class="btn-floating waves-effect waves-light btn-large more-btn custom-btn"
                               data-aos="zoom-in" data-aos-delay="200">
                                <i class="ion-android-more-horizontal"></i></a>
                        </div>
                        <!-- some line of post -->
                        <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                            In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                            venenatis pharetra vestibulum elit ultricies.......
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./1st blog post -->

            <!-- 2nd blog post -->
            <div class="col col-md-4 col-sm-12 col-xs-12">
                <div class="card blog">
                    <!-- Blog image here -->
                    <img class="img-responsive" src="images/blog/blog2.jpg">
                    <div class="blog-content">
                        <!-- Edit title and info here -->
                        <div class="blog-title">
                            <h6 class="text-capitalize">Blog title will be placed here</h6>
                            <ul>
                                <li><i class="ion-calendar"></i>12 July</li>
                                <li><i class="ion-heart"></i>53</li>
                                <li><i class="ion-android-share-alt"></i>73</li>
                            </ul>
                            <!-- Add link of full post -->
                            <a href="post.html" target="_blank" class="btn-floating waves-effect waves-light btn-large more-btn custom-btn"
                               data-aos="zoom-in" data-aos-delay="200">
                                <i class="ion-android-more-horizontal"></i></a>
                        </div>
                        <!-- some line of post -->
                        <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                            In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                            venenatis pharetra vestibulum elit ultricies.......
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./2nd blog post -->

            <!-- 3rd blog post -->
            <div class="col col-md-4 col-sm-12 col-xs-12">
                <div class="card blog">
                    <!-- Blog image here -->
                    <img class="img-responsive" src="images/blog/blog3.jpg">
                    <div class="blog-content">
                        <!-- Edit title and info here -->
                        <div class="blog-title">
                            <h6 class="text-capitalize">Blog title will be placed here</h6>
                            <ul>
                                <li><i class="ion-calendar"></i>20 Jun</li>
                                <li><i class="ion-heart"></i>36</li>
                                <li><i class="ion-android-share-alt"></i>37</li>
                            </ul>
                            <!-- Add link of full post -->
                            <a href="post.html" target="_blank" class="btn-floating waves-effect waves-light btn-large more-btn custom-btn"
                               data-aos="zoom-in" data-aos-delay="200">
                                <i class="ion-android-more-horizontal"></i></a>
                        </div>
                        <!-- some line of post -->
                        <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                            In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                            venenatis pharetra vestibulum elit ultricies.......
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./3rd blog post -->

        </div>

        <div class="row text-center">
            <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
                <a href="blog.html" target="_blank" class="text-uppercase visit-blog btn btn-large custom-btn waves-effect waves-light"
                   data-aos="zoom-in" data-aos-delay="100">Visit MY BLOG</a>
            </div>
        </div>

    </div>
</section>