<section id="education" class="section">
    <h4 class="text-uppercase text-center">Образование</h4>
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-sm-12 col-xs-12">
                <div class="timeline center-block">
                    <ul>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Курсы Front-End Developer</h3>
                                </div>
                                <p class="sub-heading">prog.academy - онлайн</p>
                                <p class="sub-heading">Январь 2022 - Настоящий момент</p>
                                <p class="content-p">
                                    Прохождение 3 блоков по Front-End <br />
                                    Верстка HTML/CSS <br />
                                    JavaScript <br />
                                    React <br />
                                </p>
                            </div>
                        </li>

                       <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Курсы ITIL 4 Foundation</h3>
                                </div>
                                <p class="sub-heading">itea.ua - Киев</p>
                                <p class="sub-heading">октябрь 2019</p>
                                <p class="content-p">
                                    Основы библиотеки ITIL 4 генерации <br />
                                    
                                </p>
                            </div>
                        </li>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Высшее образование</h3>
                                </div>
                                <p class="sub-heading">Херсонский государственный технический университет - Херсон</p>
                                <p class="sub-heading">сентябрь 1997 - июнь 2002</p>
                                <p class="content-p">
                                   Получение специальности Инженер по компьютерным сетям и системам <br />
                                </p>
                            </div>
                        </li>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Середня образование</h3>
                                </div>
                                <p class="sub-heading">Средння Школа 53 - Херсон</p>
                                <p class="sub-heading">сентябрь 1985 - июнь 1995</p>
                                
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>