<section id="experience" class="section">
    <h4 class="text-uppercase text-center">Опыт работы</h4>
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-sm-12 col-xs-12">
                <div class="timeline center-block">
                    <ul>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Программист</h3>
                                </div>
                                <p class="sub-heading">KOZUBKA.UA </p>
                                <p class="sub-heading">Май 2021 - Настоящий момент</p>
                                <p class="content-p">
                                    Разработка сайтов <br />
                                    <a href="https://kozubka.ua" target="_blank">kozubka.ua</a><br />
                                    <a href="https://food.kozubka.ua" target="_blank">food.kozubka.ua</a><br />
                                    <a href="https://work.kozubka.ua" target="_blank">work.kozubka.ua</a><br />
                                    <a href="https://ogo.kozubka.ua" target="_blank">ogo.kozubka.ua</a><br />
                                    <a href="https://kasa.kozubka.ua" target="_blank">kasa.kozubka.ua</a>
                                </p>
                            </div>
                        </li>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Системный администратор</h3>
                                </div>
                                <p class="sub-heading">KOZUBKA.UA </p>
                                <p class="sub-heading">Май 2021 - Настоящий момент</p>
                                <p class="content-p">
                                    Настройка серверов для размещения собственных проектов на базе Windows+IIS+MS Sql
                                </p>
                            </div>
                        </li>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Директор IT</h3>
                                </div>
                                <p class="sub-heading">СРК Игроленд</p>
                                <p class="sub-heading">Август 2008 - Настоящий момент</p>
                                <p class="content-p">
                                    Составление ТЗ на разроботу дополнительных сервисов.<br />
                                    Ведение переговоров с аутсорсинговыми компаниями.<br />
                                    Постановка задач и контроль за сотрудниками (до 10 человек) находящимися в офисе и на удаленных точках.<br />
                                    Согласование работ по открытию новых точек обслуживания.<br />
                                    Проектирование ЛВС новых точек обслуживания.<br />
                                    Подбор оптимальных вариантов закупок технических средств для новых точек продаж.<br />
                                    Полный цикл проектных работ по открытию новых точек продаж.(Retail, Kids Center).<br />
                                    Оптимизация расходов ФОТ.<br />
                                </p>
                            </div>
                        </li>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Программист</h3>
                                </div>
                                <p class="sub-heading">Tiffany, Van Cleef, Montblanc </p>
                                <p class="sub-heading">Январь 2020 - Настоящий момент</p>
                                <p class="content-p">
                                    Разработка кассового ПО для магазинов Net5, Asp Core, API, SQL, Sync Framework
                                </p>
                            </div>
                        </li>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Cистемный администратор</h3>
                                </div>
                                <p class="sub-heading">Blasig</p>
                                <p class="sub-heading">Июнь 2007 - Настоящий момент</p>
                                <p class="content-p">
                                    Установка, поддержка парка рабочих мест Windows XP,7,8,8.1,10<br />
                                    Установка, поддержка серверного ПО Fedora core,Centos, Windows 2003,2008,2012,2016<br />
                                    Установка, поддержка сетевого оборудования TP-Link, D-Link, Cisco-busines,Ubiquiti.<br />
                                    Установка, поддержка серверного ПО: MSSQL, Liga, Medoc, 1c, 3cx, Sharepoint.<br />
                                    Установка, поддержка сервисов, ролей и служб Windows ActiveDirectory, DFS, GPO, WDS, Terminal, DNS, DHCP.<br />
                                    Установка, поддержка сервсисов Linux Exim, Dovecot, Mysql, Iptables, Vtun, VPN, OpenVPN.<br />
                                    Установка, поддержка хостинга Apache, FTP, NGINX, Fail2Ban, Mysql(LAMP).<br />
                                    Установка коробочных вариантов Bitirix.<br />
                                    Настройка IP шлюзов GOIP.<br />
                                    Настройка АТС Panasonic Tem824, TDA100,TDA200<br />
                                    Настройка планов Backup файловой информации, баз данных MSSQL, данных хостинга, 1с.<br />
                                    Настройка Wifi сети на базе Ubiquti<br />
                                    Инсталляция новых точек обслуживания в торговых центрах.<br />
                                    Инсталляция новых точек обслуживания в отдельно стоящих торговых магазинах.<br />
                                    Обслуживание серверного оборудования<br />
                                    Инсталляция, настройка, поддержка кол-центра на базе 3cx(proffesional edition)<br />
                                    Настройка Analyses Services Mssql для разработки и внедрения MSSql Server Cube<br />
                                    Настройка репликаций баз данных MSSql для повышения отказоустойчивости и снижения нагрузок посредством переноса на другие интерфейсы обслуживания.<br />
                                    Настройка VLAN для разделения частных и корпоративных сетей.<br />
                                </p>
                            </div>
                        </li>
                         <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Программист</h3>
                                </div>
                                <p class="sub-heading">СРК Игроленд </p>
                                <p class="sub-heading">Июнь 2006 - Настоящий момент</p>
                                <p class="content-p">
                                    Разработка кредитно депозитной системы для детских развлекательных центров. <br />
                                    Разработка систем синхронизации данных между удалёнными точками продаж на базе SYNC Framework 2.1. <br />
                                    Разработка новых аппаратных частей для кредитно депозитной системы. (протоколы, логика работы). <br />
                                    Разработка интерфейсов для работы с новым POS оборудованием. <br />
                                    Разработка сервисов API для работы с кредитно депозитной системой комплексов.<br />
                                    Разработка ПО регистрации клиентов на планшетах. <br />
                                    Разработка ПО автоматизированной системы пополнения средств карточной системыРазработка телеграмм бота для получения информации с возможностью пополнения через встроенные сервисы LiqPay. <br />
                                    Разработка телеграмм бота для получения информации с возможностью пополнения через встроенные сервисы LiqPay. <br />
                                    Разработка ПО для общения клиентов посредством Viber 2way для операторов кол-центра. <br />
                                    Разработка ПО CRM для регистрации детских праздников с помощью API 3cx (телефония professional edition) + Viber API. <br />
                                    Разработка ПО для кол-центра. <br />
                                    Разработка внедрение гибких дисконтных систем. <br />
                                </p>
                            </div>
                        </li>
                        
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Cистемный администратор</h3>
                                </div>
                                <p class="sub-heading">СРК Игроленд</p>
                                <p class="sub-heading">Сентябрь 2019 - Настоящий момент</p>
                                <p class="content-p">
                                    Поддержка пользователей Windows XP,7,8,10. <br />
                                    Поддержка серверов Windows 2003, 2008. Centos<br />
                                    Active Directory, GPO
                                </p>
                            </div>
                        </li>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Cистемный администратор</h3>
                                </div>
                                <p class="sub-heading">Tiffany, Van Cleef, Montblanc</p>
                                <p class="sub-heading">Июль 2010 - Настоящий момент</p>
                                <p class="content-p">
                                    Поддержка пользователей Windows XP,7,8,10. <br />
                                    Проектирование  ЛВС<br />
                                    Настройка торговых точек<br />
                                    Active Directory, GPO, <br />
                                </p>
                            </div>
                        </li>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Преподаватель</h3>
                                </div>
                                <p class="sub-heading">Центр образования молодежи и взрослых Херсон</p>
                                <p class="sub-heading">Февраль 2002 - Июль 2002</p>
                                <p class="content-p">
                                    Введение курсов информационные технологии в экономической деятельности компании
                                </p>
                            </div>
                        </li>
                        <li class="card" data-aos="fade-up">
                            <i class="title-icon fa fa-circle"></i>
                            <div class="timeline-content">
                                <div class="timeline-header">
                                    <h3 class="text-capitalize">Системный администратор</h3>
                                </div>
                                <p class="sub-heading">Интерент Офис, Укрпошта, Херсон</p>
                                <p class="sub-heading">Апрель 2002 - Январь 2006</p>
                                <p class="content-p">
                                    Поддержка клиентов офиса.<br />
                                    Настройка рабочих мест Windows xp.<br />
                                    Поддержка работоспособности IP телефонии.<br />
                                    Поддержка по предоставлению коммуникационных услуг.<br />
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>