<section id="interest" class="section">
    <h4 class="text-uppercase text-center">Интересы</h4>
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-sm-12 col-xs-12">
                <div class="card interest">
                    <div class="row">
                        <div class="col col-md-12 col-sm-12 col-xs-12">
                            <p class="text-center">
                                Буду откровенен, на данный момент самый большой интерес у меня вызывает работа, особенно когда возникают сложные задачи. Что касается других интересов они ниже.
                            </p>
                        </div>
                        <ul class="col-md-12 col-sm-12 col-xs-12 text-center list-inline">
                            <li class="interest-topic">
                                <i class="ion-ios-film"></i>
                                <span>Кино</span>
                            </li>
                            <li class="interest-topic">
                                <i class="ion-code"></i>
                                <span>Кодинг</span>
                            </li>
                            <li class="interest-topic">
                                <i class="ion-headphone"></i>
                                <span>Музыка</span>
                            </li>
                            <li class="interest-topic">
                                <i class="ion-android-walk"></i>
                                <span>Прогулки</span>
                            </li>
                            <li class="interest-topic">
                                <i class="ion-social-octocat"></i>
                                <span>Мой Кот</span>
                            </li>
                        </ul>
                        <!-- ./Interest Topic Icon and Name -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>