
<section id="portfolios" class="section">
    <h4 class="text-uppercase text-center">Portfolios</h4>
    <div class="container">

        <div class="row">
            <!-- A basic setup of simple mode filter controls, all you have to do is use data-filter="all"
            for an unfiltered gallery and then the values of your categories to filter between them -->
            <ul class="text-center simple-filter" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300">
                <li class="active-cat" data-filter="all"><a>All</a></li>
                <li data-filter="1"><a>Creative</a></li>
                <li data-filter="2"><a>Photography</a></li>
                <li data-filter="3"><a>Food</a></li>
                <li data-filter="4"><a>Colorful</a></li>
                <li data-filter="5"><a>Personal</a></li>
            </ul>

            <div class="filtr-container center-block">

                <!-- 1st Portfolio, Filter Option -->
                <div class="col col-md-3 col-sm-6 col-xs-12 filtr-item" data-category="1, 5">
                    <div class="portfolio card">
                        <figure class="hover-effect">
                            <!-- Portfolio Image -->
                            <img class="img-responsive" src="images/portfolios/p1.jpg" alt="">
                            <!-- open-modal ID -->
                            <a data-toggle="modal" data-target="#modal1" href="#0">
                                <figcaption><span>View Details</span></figcaption>
                            </a>
                        </figure>
                        <!-- Portfolio Title -->
                        <h6 class="text-capitalize text-center">Portfolio Title Here</h6>
                    </div>
                </div>
                <!-- ./Portfolio -->
                <!-- 1st MODAL -->
                <div id="modal1" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated zoomIn">
                            <h3 class="text-capitalize text-left">Project title will be placed here</h3>
                            <div class="row">
                                <!-- Modal Image -->
                                <img class="img-responsive col-md-8 col-sm-12 col-xs-12" src="images/portfolios/p1.jpg" alt="">

                                <!-- Modal Content -->
                                <div class="content col-md-4 col-sm-12 col-xs-12">
                                    <!-- Date, Category & Client Name of the Project -->
                                    <p><span>Date:&nbsp;</span> 5, July 2015</p>
                                    <p><span>Category:&nbsp;</span> System Development</p>
                                    <p><span>Client:&nbsp;</span> Mr. John Doe</p>
                                    <!-- Live Demo Link -->
                                    <a href="#0" target="_blank" class="btn modal-btn waves-effect waves-light btn-primary custom-btn">Live Demo</a>
                                    <!-- Some Information Abut the Project -->
                                    <p class="text-left">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet.
                                    </p>
                                    <button data-dismiss="modal" class="btn right modal-btn close-btn waves-effect waves-light btn-primary custom-btn">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./modal -->


                <!-- 2nd Portfolio, Filter Option -->
                <div class="col col-md-3 col-sm-6 col-xs-12 filtr-item" data-category="2, 3, 4">
                    <div class="portfolio card">
                        <figure class="hover-effect">
                            <!-- Portfolio Image -->
                            <img class="img-responsive" src="images/portfolios/p2.jpg" alt="">
                            <!-- open-modal ID -->
                            <a data-toggle="modal" data-target="#modal2" href="#0">
                                <figcaption><span>View Details</span></figcaption>
                            </a>
                        </figure>
                        <!-- Portfolio Title -->
                        <h6 class="text-capitalize text-center">Portfolio Title Here</h6>
                    </div>
                </div>
                <!-- ./Portfolio -->
                <!-- 2nd MODAL -->
                <div id="modal2" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated zoomIn">
                            <h3 class="text-capitalize text-left">Project title will be placed here</h3>
                            <div class="row">
                                <!-- Modal Image -->
                                <img class="img-responsive col-md-8 col-sm-12 col-xs-12" src="images/portfolios/p2.jpg" alt="">

                                <!-- Modal Content -->
                                <div class="content col-md-4 col-sm-12 col-xs-12">
                                    <!-- Date, Category & Client Name of the Project -->
                                    <p><span>Date:&nbsp;</span> 5, July 2015</p>
                                    <p><span>Category:&nbsp;</span> System Development</p>
                                    <p><span>Client:&nbsp;</span> Mr. John Doe</p>
                                    <!-- Live Demo Link -->
                                    <a href="#0" target="_blank" class="btn modal-btn waves-effect waves-light btn-primary custom-btn">Live Demo</a>
                                    <!-- Some Information Abut the Project -->
                                    <p class="text-left">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet.
                                    </p>
                                    <button data-dismiss="modal" class="btn right modal-btn close-btn waves-effect waves-light btn-primary custom-btn">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./modal -->


                <!-- 3rd Portfolio, Filter Option -->
                <div class="col col-md-3 col-sm-6 col-xs-12 filtr-item" data-category="1, 4">
                    <div class="portfolio card">
                        <figure class="hover-effect">
                            <!-- Portfolio Imag e-->
                            <img class="img-responsive" src="images/portfolios/p3.jpg" alt="">
                            <!-- open-modal ID -->
                            <a data-toggle="modal" data-target="#modal3" href="#0">
                                <figcaption><span>View Details</span></figcaption>
                            </a>
                        </figure>
                        <!-- Portfolio Title -->
                        <h6 class="text-capitalize text-center">Portfolio Title Here</h6>
                    </div>
                </div>
                <!-- ./Portfolio -->
                <!-- 3rd MODAL -->
                <div id="modal3" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated zoomIn">
                            <h3 class="text-capitalize text-left">Project title will be placed here</h3>
                            <div class="row">
                                <!-- Modal Image -->
                                <img class="img-responsive col-md-8 col-sm-12 col-xs-12" src="images/portfolios/p3.jpg" alt="">

                                <!-- Modal Content -->
                                <div class="content col-md-4 col-sm-12 col-xs-12">
                                    <!-- Date, Category & Client Name of the Project -->
                                    <p><span>Date:&nbsp;</span> 5, July 2015</p>
                                    <p><span>Category:&nbsp;</span> System Development</p>
                                    <p><span>Client:&nbsp;</span> Mr. John Doe</p>
                                    <!-- Live Demo Link -->
                                    <a href="#0" target="_blank" class="btn modal-btn waves-effect waves-light btn-primary custom-btn">Live Demo</a>
                                    <!-- Some Information Abut the Project -->
                                    <p class="text-left">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet.
                                    </p>
                                    <button data-dismiss="modal" class="btn right modal-btn close-btn waves-effect waves-light btn-primary custom-btn">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./modal -->


                <!-- 4th Portfolio, Filter Option -->
                <div class="col col-md-3 col-sm-6 col-xs-12 filtr-item" data-category="1, 5">
                    <div class="portfolio card">
                        <figure class="hover-effect">
                            <!-- Portfolio Image -->
                            <img class="img-responsive" src="images/portfolios/p4.jpg" alt="">
                            <!-- open-modal ID -->
                            <a data-toggle="modal" data-target="#modal4" href="#0">
                                <figcaption><span>View Details</span></figcaption>
                            </a>
                        </figure>
                        <!-- Portfolio Title -->
                        <h6 class="text-capitalize text-center">Portfolio Title Here</h6>
                    </div>
                </div>
                <!-- ./Portfolio -->
                <!-- 4th MODAL -->
                <div id="modal4" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated zoomIn">
                            <h3 class="text-capitalize text-left">Project title will be placed here</h3>
                            <div class="row">
                                <!-- Modal Image -->
                                <img class="img-responsive col-md-8 col-sm-12 col-xs-12" src="images/portfolios/p4.jpg" alt="">

                                <!-- Modal Content -->
                                <div class="content col-md-4 col-sm-12 col-xs-12">
                                    <!-- Date, Category & Client Name of the Project -->
                                    <p><span>Date:&nbsp;</span> 5, July 2015</p>
                                    <p><span>Category:&nbsp;</span> System Development</p>
                                    <p><span>Client:&nbsp;</span> Mr. John Doe</p>
                                    <!-- Live Demo Link -->
                                    <a href="#0" target="_blank" class="btn modal-btn waves-effect waves-light btn-primary custom-btn">Live Demo</a>
                                    <!-- Some Information Abut the Project -->
                                    <p class="text-left">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet.
                                    </p>
                                    <button data-dismiss="modal" class="btn right modal-btn close-btn waves-effect waves-light btn-primary custom-btn">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./modal -->


                <!-- 5th Portfolio, Filter Option -->
                <div class="col col-md-3 col-sm-6 col-xs-12 filtr-item" data-category="2, 3, 4">
                    <div class="portfolio card">
                        <figure class="hover-effect">
                            <!-- Portfolio Image -->
                            <img class="img-responsive" src="images/portfolios/p5.jpg" alt="">
                            <!-- open-modal ID -->
                            <a data-toggle="modal" data-target="#modal5" href="#0">
                                <figcaption><span>View Details</span></figcaption>
                            </a>
                        </figure>
                        <!-- Portfolio Title -->
                        <h6 class="text-capitalize text-center">Portfolio Title Here</h6>
                    </div>
                </div>
                <!-- ./Portfolio -->
                <!-- 5th MODAL -->
                <div id="modal5" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated zoomIn">
                            <h3 class="text-capitalize text-left">Project title will be placed here</h3>
                            <div class="row">
                                <!-- Modal Image -->
                                <img class="img-responsive col-md-8 col-sm-12 col-xs-12" src="images/portfolios/p5.jpg" alt="">

                                <!-- Modal Content -->
                                <div class="content col-md-4 col-sm-12 col-xs-12">
                                    <!-- Date, Category & Client Name of the Project -->
                                    <p><span>Date:&nbsp;</span> 5, July 2015</p>
                                    <p><span>Category:&nbsp;</span> System Development</p>
                                    <p><span>Client:&nbsp;</span> Mr. John Doe</p>
                                    <!-- Live Demo Link -->
                                    <a href="#0" target="_blank" class="btn modal-btn waves-effect waves-light btn-primary custom-btn">Live Demo</a>
                                    <!-- Some Information Abut the Project -->
                                    <p class="text-left">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet.
                                    </p>
                                    <button data-dismiss="modal" class="btn right modal-btn close-btn waves-effect waves-light btn-primary custom-btn">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./modal -->


                <!-- 6th Portfolio, Filter Option -->
                <div class="col col-md-3 col-sm-6 col-xs-12 filtr-item" data-category="2">
                    <div class="portfolio card">
                        <figure class="hover-effect">
                            <!-- Portfolio Image -->
                            <img class="img-responsive" src="images/portfolios/p6.jpg" alt="">
                            <!-- open-modal ID -->
                            <a data-toggle="modal" data-target="#modal6" href="#0">
                                <figcaption><span>View Details</span></figcaption>
                            </a>
                        </figure>
                        <!-- Portfolio Title -->
                        <h6 class="text-capitalize text-center">Portfolio Title Here</h6>
                    </div>
                </div>
                <!-- ./Portfolio -->
                <!-- 6th MODAL -->
                <div id="modal6" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated zoomIn">
                            <h3 class="text-capitalize text-left">Project title will be placed here</h3>
                            <div class="row">
                                <!-- Modal Image -->
                                <img class="img-responsive col-md-8 col-sm-12 col-xs-12" src="images/portfolios/p6.jpg" alt="">

                                <!-- Modal Content -->
                                <div class="content col-md-4 col-sm-12 col-xs-12">
                                    <!-- Date, Category & Client Name of the Project -->
                                    <p><span>Date:&nbsp;</span> 5, July 2015</p>
                                    <p><span>Category:&nbsp;</span> System Development</p>
                                    <p><span>Client:&nbsp;</span> Mr. John Doe</p>
                                    <!-- Live Demo Link -->
                                    <a href="#0" target="_blank" class="btn modal-btn waves-effect waves-light btn-primary custom-btn">Live Demo</a>
                                    <!-- Some Information Abut the Project -->
                                    <p class="text-left">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet.
                                    </p>
                                    <button data-dismiss="modal" class="btn right modal-btn close-btn waves-effect waves-light btn-primary custom-btn">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./modal -->


                <!-- 7th Portfolio, Filter Option -->
                <div class="col col-md-3 col-sm-6 col-xs-12 filtr-item" data-category="5">
                    <div class="portfolio card">
                        <figure class="hover-effect">
                            <!-- Portfolio Image -->
                            <img class="img-responsive" src="images/portfolios/p7.jpg" alt="">
                            <!-- open-modal ID -->
                            <a data-toggle="modal" data-target="#modal7" href="#0">
                                <figcaption><span>View Details</span></figcaption>
                            </a>
                        </figure>
                        <!-- Portfolio Title -->
                        <h6 class="text-capitalize text-center">Portfolio Title Here</h6>
                    </div>
                </div>
                <!-- ./Portfolio -->
                <!-- 7th MODAL -->
                <div id="modal7" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated zoomIn">
                            <h3 class="text-capitalize text-left">Project title will be placed here</h3>
                            <div class="row">
                                <!-- Modal Image -->
                                <img class="img-responsive col-md-8 col-sm-12 col-xs-12" src="images/portfolios/p7.jpg" alt="">

                                <!-- Modal Content -->
                                <div class="content col-md-4 col-sm-12 col-xs-12">
                                    <!-- Date, Category & Client Name of the Project -->
                                    <p><span>Date:&nbsp;</span> 5, July 2015</p>
                                    <p><span>Category:&nbsp;</span> System Development</p>
                                    <p><span>Client:&nbsp;</span> Mr. John Doe</p>
                                    <!-- Live Demo Link -->
                                    <a href="#0" target="_blank" class="btn modal-btn waves-effect waves-light btn-primary custom-btn">Live Demo</a>
                                    <!-- Some Information Abut the Project -->
                                    <p class="text-left">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet.
                                    </p>
                                    <button data-dismiss="modal" class="btn right modal-btn close-btn waves-effect waves-light btn-primary custom-btn">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./modal -->


                <!-- 8th Portfolio, Filter Option -->
                <div class="col col-md-3 col-sm-6 col-xs-12 filtr-item" data-category="2, 3">
                    <div class="portfolio card">
                        <figure class="hover-effect">
                            <!-- Portfolio Image -->
                            <img class="img-responsive" src="images/portfolios/p8.jpg" alt="">
                            <!-- open-modal ID -->
                            <a data-toggle="modal" data-target="#modal8" href="#0">
                                <figcaption><span>View Details</span></figcaption>
                            </a>
                        </figure>
                        <!-- Portfolio Title -->
                        <h6 class="text-capitalize text-center">Portfolio Title Here</h6>
                    </div>
                </div>
                <!-- ./Portfolio -->
                <!-- 8th MODAL -->
                <div id="modal8" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated zoomIn">
                            <h3 class="text-capitalize text-left">Project title will be placed here</h3>
                            <div class="row">
                                <!-- Modal Image -->
                                <img class="img-responsive col-md-8 col-sm-12 col-xs-12" src="images/portfolios/p8.jpg" alt="">

                                <!-- Modal Content -->
                                <div class="content col-md-4 col-sm-12 col-xs-12">
                                    <!-- Date, Category & Client Name of the Project -->
                                    <p><span>Date:&nbsp;</span> 5, July 2015</p>
                                    <p><span>Category:&nbsp;</span> System Development</p>
                                    <p><span>Client:&nbsp;</span> Mr. John Doe</p>
                                    <!-- Live Demo Link -->
                                    <a href="#0" target="_blank" class="btn modal-btn waves-effect waves-light btn-primary custom-btn">Live Demo</a>
                                    <!-- Some Information Abut the Project -->
                                    <p class="text-left">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel sollicitudin. Vestibulum
                                        venenatis pharetra mi, ut vestibulum elit ultricies. Lorem ipsum dolor sit amet.
                                    </p>
                                    <button data-dismiss="modal" class="btn right modal-btn close-btn waves-effect waves-light btn-primary custom-btn">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./modal -->

            </div>
        </div>
    </div>
</section>