
<!--==========================================
               PRICING TABLE
===========================================-->
<section id="pricing" class="section">
    <h4 class="text-uppercase text-center">Pricing</h4>
    <div class="container">

        <div class="row">

            <ul class="text-center period-btn">
                <li id="month-btn" class="active-cat"><a>Monthly</a></li>
                <li id="year-btn"><a>Yearly</a></li>
            </ul>

            <!-- Monthly Pricing -->
            <div id="month" class="col col-md-12 col-sm-12 col-xs-12 period-type">
                <div class="row">

                    <!-- Basic -->
                    <div class="col col-md-3 col-sm-6 col-xs-12">
                        <div class="card pricing-table" data-aos="fade-up" data-aos-delay="300">
                            <!-- Table Name -->
                            <h3 class="text-center">Basic</h3>
                            <h4 class="text-center">
                                <span class="dollar">$</span>
                                <!-- Enter Your Amount Here -->
                                <span class="amount">25</span>
                                <span class="period">/mo</span>
                            </h4>
                            <!-- Features -->
                            <ul class="feature-list text-center">
                                <li>500 Items</li>
                                <li>25 Free Demo /week</li>
                                <li>Unlimited Storage</li>
                                <li>24/7 Support</li>
                            </ul>
                            <!-- ./Features -->
                            <div class="row">
                                <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
                                    <a href="#0" class="btn waves-effect waves-light custom-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Basic -->

                    <!-- Silver -->
                    <div class="col col-md-3 col-sm-6 col-xs-12">
                        <div class="card pricing-table" data-aos="fade-up" data-aos-delay="450">
                            <!-- Table Name -->
                            <h3 class="text-center">Silver</h3>
                            <h4 class="text-center">
                                <span class="dollar">$</span>
                                <!-- Enter Your Amount Here -->
                                <span class="amount">50</span>
                                <span class="period">/mo</span>
                            </h4>
                            <!-- Features -->
                            <ul class="feature-list text-center">
                                <li>500 Items</li>
                                <li>25 Free Demo /week</li>
                                <li>Unlimited Storage</li>
                                <li>24/7 Support</li>
                            </ul>
                            <!-- ./Features -->
                            <div class="row">
                                <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
                                    <a href="#0" class="btn waves-effect waves-light custom-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Silver -->

                    <!-- Gold -->
                    <div class="col col-md-3 col-sm-6 col-xs-12">
                        <div class="card pricing-table" data-aos="fade-up" data-aos-delay="600">
                            <!-- Table Name -->
                            <h3 class="text-center">Gold</h3>
                            <h4 class="text-center">
                                <span class="dollar">$</span>
                                <!-- Enter Your Amount Here -->
                                <span class="amount">75</span>
                                <span class="period">/mo</span>
                            </h4>
                            <!-- Features -->
                            <ul class="feature-list text-center">
                                <li>500 Items</li>
                                <li>25 Free Demo /week</li>
                                <li>Unlimited Storage</li>
                                <li>24/7 Support</li>
                            </ul>
                            <!-- ./Features -->
                            <div class="row">
                                <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
                                    <a href="#0" class="btn waves-effect waves-light custom-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Gold -->

                    <!-- Platinum -->
                    <div class="col col-md-3 col-sm-6 col-xs-12">
                        <div class="card pricing-table" data-aos="fade-up" data-aos-delay="750">
                            <!-- Table Name -->
                            <h3 class="text-center">Platinum</h3>
                            <h4 class="text-center">
                                <span class="dollar">$</span>
                                <!-- Enter Your Amount Here -->
                                <span class="amount">100</span>
                                <span class="period">/mo</span>
                            </h4>
                            <!-- Features -->
                            <ul class="feature-list text-center">
                                <li>500 Items</li>
                                <li>25 Free Demo /week</li>
                                <li>Unlimited Storage</li>
                                <li>24/7 Support</li>
                            </ul>
                            <!-- ./Features -->
                            <div class="row">
                                <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
                                    <a href="#0" class="btn waves-effect waves-light custom-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Platinum -->

                </div>
            </div>
            <!-- ./Monthly Pricing -->



            <!-- Yearly Pricing -->
            <div id="year" class="col col-md-12 col-sm-12 col-xs-12 period-type">
                <div class="row">

                    <!-- Basic -->
                    <div class="col col-md-3 col-sm-6 col-xs-12">
                        <div class="card pricing-table">
                            <!-- Table Name -->
                            <h3 class="text-center">Basic</h3>
                            <h4 class="text-center">
                                <span class="dollar">$</span>
                                <!-- Enter Your Amount Here -->
                                <span class="amount">240</span>
                                <span class="period">/yr</span>
                            </h4>
                            <!-- Features -->
                            <ul class="feature-list text-center">
                                <li>500 Items</li>
                                <li>25 Free Demo /week</li>
                                <li>Unlimited Storage</li>
                                <li>24/7 Support</li>
                            </ul>
                            <!-- ./Features -->
                            <div class="row">
                                <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
                                    <a href="#0" class="btn waves-effect waves-light custom-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Basic -->

                    <!-- Silver -->
                    <div class="col col-md-3 col-sm-6 col-xs-12">
                        <div class="card pricing-table">
                            <!-- Table Name -->
                            <h3 class="text-center">Silver</h3>
                            <h4 class="text-center">
                                <span class="dollar">$</span>
                                <!-- Enter Your Amount Here -->
                                <span class="amount">480</span>
                                <span class="period">/yr</span>
                            </h4>
                            <!-- Features -->
                            <ul class="feature-list text-center">
                                <li>500 Items</li>
                                <li>25 Free Demo /week</li>
                                <li>Unlimited Storage</li>
                                <li>24/7 Support</li>
                            </ul>
                            <!-- ./Features -->
                            <div class="row">
                                <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
                                    <a href="#0" class="btn waves-effect waves-light custom-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Silver -->

                    <!-- Gold -->
                    <div class="col col-md-3 col-sm-6 col-xs-12">
                        <div class="card pricing-table">
                            <!-- Table Name -->
                            <h3 class="text-center">Gold</h3>
                            <h4 class="text-center">
                                <span class="dollar">$</span>
                                <!-- Enter Your Amount Here -->
                                <span class="amount">720</span>
                                <span class="period">/yr</span>
                            </h4>
                            <!-- Features -->
                            <ul class="feature-list text-center">
                                <li>500 Items</li>
                                <li>25 Free Demo /week</li>
                                <li>Unlimited Storage</li>
                                <li>24/7 Support</li>
                            </ul>
                            <!-- ./Features -->
                            <div class="row">
                                <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
                                    <a href="#0" class="btn waves-effect waves-light custom-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Gold -->

                    <!-- Platinum -->
                    <div class="col col-md-3 col-sm-6 col-xs-12">
                        <div class="card pricing-table">
                            <!-- Table Name -->
                            <h3 class="text-center">Platinum</h3>
                            <h4 class="text-center">
                                <span class="dollar">$</span>
                                <!-- Enter Your Amount Here -->
                                <span class="amount">960</span>
                                <span class="period">/yr</span>
                            </h4>
                            <!-- Features -->
                            <ul class="feature-list text-center">
                                <li>500 Items</li>
                                <li>25 Free Demo /week</li>
                                <li>Unlimited Storage</li>
                                <li>24/7 Support</li>
                            </ul>
                            <!-- ./Features -->
                            <div class="row">
                                <div class="col col-xs-12 col-sm-12 col-md-12 text-center">
                                    <a href="#0" class="btn waves-effect waves-light custom-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Platinum -->

                </div>
            </div>
            <!-- Yearly Pricing -->

        </div>
    </div>
</section>