<!--==========================================
               PUBLICATIONS
===========================================-->
<section id="publications" class="section">
    <h4 class="text-uppercase text-center">Publications</h4>
    <div class="container">
        <div class="row">

            <!-- 1st publication -->
            <div class="col col-md-6 col-sm-12 col-xs-12">
                <div class="publication card text-center">
                    <!-- place Icon Here -->
                    <div class="icon-div text-center" data-aos="zoom-in" data-aos-delay="300"><i class="ion-ios-book"></i></div>
                    <h6 class="text-center text-capitalize">Name of the book will be placed here</h6>

                    <!-- Type and Published date here -->
                    <ul class="text-center list-inline">
                        <li><i class="ion-ios-pricetag"></i>Type: Novel</li>
                        <li><i class="ion-calendar"></i>Published On: 12 Jun 2015</li>
                    </ul>

                    <!-- Some Info About Item -->
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel. Vestibulum
                        venenatis vestibulum elit ultricies.
                    </p>

                    <div class="row">
                        <!-- Item link here -->
                        <a href="#0" class="btn waves-effect waves-light btn-primary custom-btn">Read Now</a>
                    </div>

                </div>
            </div>
            <!-- ./1st publication -->

            <!-- 2nd publication -->
            <div class="col col-md-6 col-sm-12 col-xs-12">
                <div class="publication card text-center">
                    <!-- place Icon Here -->
                    <div class="icon-div text-center" data-aos="zoom-in" data-aos-delay="300"><i class="ion-ios-paper"></i></div>
                    <h6 class="text-center text-capitalize">Subject of research will be placed here</h6>

                    <!-- Type and Published date here -->
                    <ul class="text-center list-inline">
                        <li><i class="ion-ios-pricetag"></i>Type: Research</li>
                        <li><i class="ion-calendar"></i>Published On: 12 Jun 2015</li>
                    </ul>

                    <!-- Some Info About Item -->
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel. Vestibulum
                        venenatis vestibulum elit ultricies.
                    </p>

                    <div class="row">
                        <!-- Item link here -->
                        <a href="#0" class="btn waves-effect waves-light btn-primary custom-btn">Read Now</a>
                    </div>

                </div>
            </div>
            <!-- ./2nd publication -->

            <!-- 3rd publication -->
            <div class="col col-md-6 col-sm-12 col-xs-12">
                <div class="publication card text-center">
                    <!-- place Icon Here -->
                    <div class="icon-div text-center" data-aos="zoom-in" data-aos-delay="300"><i class="ion-ios-book"></i></div>
                    <h6 class="text-center text-capitalize">Name of the book will be placed here</h6>

                    <!-- Type and Published date here -->
                    <ul class="text-center list-inline">
                        <li><i class="ion-ios-pricetag"></i>Type: Novel</li>
                        <li><i class="ion-calendar"></i>Published On: 12 Jun 2015</li>
                    </ul>

                    <!-- Some Info About Item -->
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel. Vestibulum
                        venenatis vestibulum elit ultricies.
                    </p>

                    <div class="row">
                        <!-- Item link here -->
                        <a href="#0" class="btn waves-effect waves-light btn-primary custom-btn">Read Now</a>
                    </div>

                </div>
            </div>
            <!-- ./3rd publication -->

            <!-- 4th publication -->
            <div class="col col-md-6 col-sm-12 col-xs-12">
                <div class="publication card text-center">
                    <!-- place Icon Here -->
                    <div class="icon-div text-center" data-aos="zoom-in" data-aos-delay="300"><i class="ion-ios-paper"></i></div>
                    <h6 class="text-center text-capitalize">Subject of research will be placed here</h6>

                    <!-- Type and Published date here -->
                    <ul class="text-center list-inline">
                        <li><i class="ion-ios-pricetag"></i>Type: Research</li>
                        <li><i class="ion-calendar"></i>Published On: 12 Jun 2015</li>
                    </ul>

                    <!-- Some Info About Item -->
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis et tortor ac tincidunt.
                        In euismod iaculis lobortis. Vestibulum posuere molestie ipsum vel. Vestibulum
                        venenatis vestibulum elit ultricies.
                    </p>

                    <div class="row">
                        <!-- Item link here -->
                        <a href="#0" class="btn waves-effect waves-light btn-primary custom-btn">Read Now</a>
                    </div>

                </div>
            </div>
            <!-- ./4th publication -->

        </div>
    </div>
</section>