<section id="services" class="section">
    <h4 class="text-uppercase text-center">Стек</h4>
    <div class="container">
        <ul class="row">
            <li class="col col-md-4 col-sm-6 col-xs-12">
                <div class="card service-item text-center">
                    <i class="ion-pound" data-aos="fade" data-aos-delay="300" data-aos-offset="0"></i>
                    <h6 class="text-capitalize">C#</h6>
                    <p class="text-center">
                        Разработка приложений любой сложности. .Net Framework, SQL, Sync Framework, WCF, Remoting,
                        Entity Framework. Клиент-серверные архитетуры, реализация интерфейсов для POS оборудования 
                    </p>
                </div>
            </li>

            <li class="col col-md-4 col-sm-6 col-xs-12">
                <div class="card service-item text-center">
                    <i class="ion-code" data-aos="fade" data-aos-delay="300" data-aos-offset="0"></i>
                    <h6 class="text-capitalize">Web Разработка</h6>
                    <p class="text-center">
                        Разработка сайтов полный цикл - Full-Stack. Html, Asp Core, Identity, SignalR, ReactJS, CSS, JavaScript, JQuery,
                        Entity Framework, MySql, RestFull API. Делаею сайты любой сложности на любых технологиях более 10 лет.
                    </p>
                </div>
            </li>
            <li class="col col-md-4 col-sm-6 col-xs-12">
                <div class="card service-item text-center">
                    
                    <i class="ion-settings" data-aos="fade" data-aos-delay="300" data-aos-offset="0"></i>
                    <h6 class="text-capitalize">Sys Admin</h6>
                    <p class="text-center">
                        Работа с системами Windows, Centos, Fedora. Exim, Mysql, MariaDB, Backup, Dovecot, Apache, Nginx, 
                        Iptables, DHCP, DNS, Active Directory, GPO, 3cx, MSSQL, 3com, Ubiquiti, POS, ATC, Panasonic TDA и т.д. 
                        Более 20 лет практики.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>