<section id="skills" class="section">
    <h4 class="text-uppercase text-center">Навыки</h4>
    <div class="container">
        <div class="row">
            <div class="col col-md-4 col-sm-4 col-xs-12">
                <div class="card content-wrapper skill-wrapper">
                    <h5 class="text-center skill-title">Программирование</h5>
                    <div class="skill-progress-div">
                        <p>C#<span>85%</span></p>
                        <div class="progress skill-progress" data-percent="75%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>MSSQL<span>65%</span></p>
                        <div class="progress skill-progress" data-percent="65%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>Java Script<span>45%</span></p>
                        <div class="progress skill-progress" data-percent="45%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>HTML<span>65%</span></p>
                        <div class="progress skill-progress" data-percent="65%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>React<span>15%</span></p>
                        <div class="progress skill-progress" data-percent="15%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col col-md-4 col-sm-4 col-xs-12">
                <div class="card content-wrapper skill-wrapper">
                    <h5 class="text-center skill-title">Администрирование</h5>
                    <div class="skill-progress-div">
                        <p>Windows<span>80%</span></p>
                        <div class="progress skill-progress" data-percent="80%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>Linux<span>75%</span></p>
                        <div class="progress skill-progress" data-percent="75%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>MSSQL<span>55%</span></p>
                        <div class="progress skill-progress" data-percent="55%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>Managment<span>85%</span></p>
                        <div class="progress skill-progress" data-percent="85%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>Lan<span>95%</span></p>
                        <div class="progress skill-progress" data-percent="95%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col col-md-4 col-sm-4 col-xs-12">
                <div class="card content-wrapper skill-wrapper">
                    <h5 class="text-center skill-title">Личные</h5>
                    <div class="skill-progress-div">
                        <p>Настойчивость<span>85%</span></p>
                        <div class="progress skill-progress" data-percent="85%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>Пунктуальность<span>90%</span></p>
                        <div class="progress skill-progress" data-percent="90%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>Самокритичность<span>75%</span></p>
                        <div class="progress skill-progress" data-percent="75%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>Креативность<span>80%</span></p>
                        <div class="progress skill-progress" data-percent="80%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="skill-progress-div">
                        <p>Ответственность<span>95%</span></p>
                        <div class="progress skill-progress" data-percent="95%">
                            <div class="determinate skill-determinate">
                                <i class="skill-determinate-circle fa fa-circle"
                                   data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
