<div class="checkout-wrapper-area py-3">
    <div class="credit-card-info-wrapper">
        <div class="cod-info text-center mb-3">
             <p>В цій групі немає товарів</p>
        </div>
    </div>
</div>