

<div class="product-description pb-3">
    <div class="post-content bg-white py-3 mb-3">
        <div class="container">
            <h5 class="post-title text-center">Довідник Товарів RRO.KOZUBKA</h5>
            <a class="mb-3 d-block h6" href="#">Самий легкий спосіб вести облік ваших продажів.</a>
            <p>
                <ul>
                    <li>1 - Додаєте групи товарів</li>
                    <li>2 - Додаєте товари</li>
                    <li>3 - Можете продавати, та вести облік</li>
                </ul>
            </p>
            
            <a class="mb-3 d-block h6" href="#">Фіскальни чеки</a>
            <p>Наразі ми працюємо з сервісом <a href="https://my.checkbox.ua/auth/registration?partner_ref=hdqPatJKJn">checkbox.ua</a>, та невдовзі можете обрати інший</p>
          
            <a class="mb-3 d-block h6" href="#">Скільки це коштує?</a>
            <p>Ніяких грошей за цей сервіс ми не беремо, але якщо ви підлючаете ПРРО(checkbox та ін.), то кожен сервіс бере за це плату. Дивитья ціни на офиційних сайтах.</p>
            
          
        </div>
    </div>
   
</div>
