@inject ua.kozubka.context.Services.Repositories.ModelRepository.ISettingRepository _settingRepository

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@{
    var googleCaptchaSiteKey = _settingRepository.Settings.Where(d => d.Key == ua.kozubka.context.Classes.Constants.SettingsOptions.GoogleReCaptchaSiteKey.ToString()).Select(d => d.Value).FirstOrDefault();
}
<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <div class="auth-wrapper auth-basic px-2">
            <div class="auth-inner my-2">
                <!-- Login basic -->
                <div class="card mb-0">
                    <div class="card-body">
                        <a asp-controller="Home" asp-action="Index" class="brand-logo">

                            <h2 class="brand-text text-primary ms-1">KOZUBKA.UA</h2>
                        </a>
                        <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>
                        <h4 class="card-title mb-1">Ще один крок! 📞</h4>
                        <p class="card-text mb-2">Для завершення реєстрації введіть свій номер телефону</p>

                        <form method="post" asp-controller="Account" asp-action="FinishSocialRegistration" class="auth-login-form mt-2">

                            <div class="mb-1">
                                <label for="login-email" class="form-label">Телефон</label>
                                <input type="text" class="form-control text-center" placeholder="" name="phone" id="phone" tabindex="1" autofocus />
                            </div>

                          
                            <input type="hidden" name="captcha" id="captchaInputLogin" value="" />
                            <button class="btn btn-primary w-100" type="submit" tabindex="4">Увійти</button>
                        </form>

                     

                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsDown
{
    <script src="~/assets/plugins/jquery.maskplugin/src/jquery.mask.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=@googleCaptchaSiteKey"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('@googleCaptchaSiteKey', { action: 'contact' }).then(function (token) {
                $("#captchaInputLogin").val(token);
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#phone").mask("+38 (000) 000-0000", { placeholder: "+38 (000) 000-0000" });

        });
    </script>
}
