@inject ua.kozubka.context.Services.Repositories.GeneralRepository.IDesignerRepository _designer
@inject ua.kozubka.context.Services.Repositories.ModelRepository.ISettingRepository _settingRepository
@{
    string email = @_settingRepository.Settings.Where(d => d.Key == ua.kozubka.context.Classes.Constants.SettingsOptions.SupportEmail.ToString()).SingleOrDefault().Value;
    string privacyLink = _settingRepository.GetSetting(ua.kozubka.context.Classes.Constants.SettingsOptions.PrivacyLink);
}
<div class="content-overlay"></div>
<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section id="faq-tabs">
            <div class="row">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="faq-payment" aria-labelledby="payment" aria-expanded="true">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-tag bg-light-primary me-1">
                                <i data-feather="package" class="font-medium-4"></i>
                            </div>
                            <div>
                                <h4 class="mb-0">Політика конфідеційності</h4>
                            </div>
                        </div>
                        <div class="accordion accordion-margin mt-2" id="privacy-qna">
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyOne">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-one" aria-expanded="false" aria-controls="privacy-one">
                                        <h4>1. Вступна частина</h4>
                                    </button>
                                </h2>

                                <div id="privacy-one" class="collapse accordion-collapse" aria-labelledby="privacyOne" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            Дана Політика конфіденційності, далі – Політика, діє відносно обробки персональних даних, які може отримати сервіс від фізичних осіб (суб'єктів персональних даних) на підставі Конституції України і Закону України "Про захист персональних даних" від 01.06.2010 р №2297 -VI (далі – Закон), а також Генерального регламенту про захист даних (ЄС) 2016/679 від 27.04.2016 р (EU General Data Protection Regulation, далі – GDPR) і іншого застосовного європейського законодавства про захист даних, спільно іменованого далі – Законодавство.
                                        </p>
                                        <p>
                                            1.1. Дана Політика конфіденційності розроблена для надання Вам наступної інформації:
                                            <ul>
                                                <li>що таке персональні дані;</li>
                                                <li>які Ваші персональні дані ми збираємо;</li>
                                                <li>як і чому ми використовуємо їх;</li>
                                                <li>кому ми передаємо Ваші персональні дані;</li>
                                                <li>як ми захищаємо конфіденційність Ваших персональних даних;</li>
                                                <li>як з нами зв'язатися і до кого звернутися, якщо у Вас виникнуть питання щодо обробки Ваших персональних даних.</li>
                                            </ul>
                                        </p>
                                        <p>
                                            1.2. Ми обробляємо Ваші персональні дані лише в разі, якщо виконано одну з умов, зазначених у статті 6 GDPR, в тому числі, але не виключаючи:
                                            <ul>
                                                <li>Ви дали згоду на обробку Ваших персональних даних;</li>
                                                <li>обробка необхідна в цілях надання Вам послуг;</li>
                                                <li>така обробка вимагається законодавством країни, в якій Ви перебуваєте.</li>
                                            </ul>
                                        </p>
                                        <p>
                                            1.3. Ми виключно серйозно ставимося до безпеки персональних даних наших клієнтів, потенційних клієнтів та інших осіб, які звернулися до нас, тому прагнемо захищати конфіденційність Ваших персональних даних. Адміністрація зобов'язується вжити всіх необхідних заходів для запобігання зловживання Вашими персональними даними, які стають нам відомі. Ми будемо обробляти Ваші персональні дані в суворій відповідності до вимог застосовного Законодавства і виключно за наявності законних підстав на таку обробку.
                                        </p>
                                        <p>
                                            1.4. Ви не зобов'язані надавати нам персональні дані, але без певної інформації про Вас ми не зможемо надати Вам деякі наші послуги. У разі, якщо ми контролюємо способи збору Ваших персональних даних та визначаємо цілі, для яких ці персональні дані використовуються, Адміністрація є "контролером персональних даних" для цілей GDPR та іншого застосовного європейського законодавства про захист даних, а також "власником персональних даних" у розумінні Закону.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyTwo">
                                    <button class="accordion-button" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-two" aria-expanded="true" aria-controls="privacy-two">
                                        <h4>2. Терміни та визначення, що використовуються в Політиці</h4>
                                    </button>
                                </h2>
                                <div id="privacy-two" class="collapse accordion-collapse" aria-labelledby="privacyTwo" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            2.1. Персональні дані – відомості чи сукупність відомостей про фізичну особу, яка ідентифікована або може бути ідентифікована (Користувач).
                                        </p>
                                        <p>
                                            2.2. Особливі категорії персональних даних – це так звані "чутливі" персональні дані, які можуть завдати шкоди суб'єкту даних на роботі, в навчальному закладі, в середовищі проживання, або можуть призвести до його дискримінації в суспільстві. Наприклад, це персональні дані, які містять інформацію про расове походження, політичні або релігійні погляди, про членство в профспілках, про стан здоров'я, сексуальне життя, біометричні або генетичні дані. У термінології українського законодавства – це такі персональні дані, обробка яких несе особливий ризик для суб'єктів персональних даних;
                                        </p>
                                        <p>
                                            2.3. Суб'єкт персональних даних – це фізична особа, до якої відносяться персональні дані та яку за цими персональними даними можна ідентифікувати, або яку вже ідентифіковано.
                                        </p>
                                        <p>
                                            2.4. Адміністрація сайту (Адміністрація, а також далі за текстом “ми”, “нами”, “нас”, “нам”) – Сервіс, діючий від імені ФОП Жданов П.В. КВЕД 62.01.
                                        </p>
                                        <p>
                                            2.5. Обробка персональних даних – будь-яка дія або сукупність дій, таких як збір, реєстрація, накопичення, зберігання, адаптування, зміна, відновлення, використання і поширення (розповсюдження, реалізація, передача), знеособлення, знищення персональних даних, у тому числі з використанням інформаційних (автоматизованих) систем.
                                        </p>
                                        <p>
                                            2.6. Поширення персональних даних – дії з передачі відомостей про фізичну особу за згодою суб'єкта персональних даних.
                                        </p>
                                        <p>
                                            2.7. Використання персональних даних – будь-які дії Адміністрації з обробки цих даних, дії щодо їх захисту, а також дії щодо надання часткового або повного права обробки персональних даних іншим суб'єктам відносин, пов'язаних із персональними даними, що здійснюються за згодою суб'єктів персональних даних або відповідно до законодавства України.
                                        </p>
                                        <p>
                                            2.8. Знеособлення персональних даних – вилучення відомостей, які дозволяють прямо або опосередковано ідентифікувати особу.
                                        </p>
                                        <p>
                                            2.9. Користувач – суб'єкт персональних даних, будь-яка дієздатна фізична особа, яка приєдналася до цієї Політики у власних інтересах для використання сервісу в особистих цілях, яка зареєструвалася в онлайн-сервісі за допомогою мережі Інтернет.
                                        </p>
                                        <p>
                                            2.10. Онлайн-сервіс – сервіс, який належить Адміністрації, призначений для допомоги в реалізації або пошуку продукції.
                                        </p>
                                        <p>
                                            2.11. Особистий кабінет – розділ онлайн-сервісу, доступ до якого Користувач отримує після його реєстрації в онлайн-сервісі і введення унікального логіна і пароля. Особистий кабінет містить персональні дані Користувача і призначений для перегляду і управління доступними функціональними можливостями онлайн-сервісу.
                                        </p>
                                        <p>
                                            2.12. Реєстрація – дії Користувача щодо заповнення та відправки реєстраційної форми, розміщеної в онлайн-сервісі, яка, в разі відсутності у Адміністрації заперечень щодо реєстрації, є наслідком надання доступу в Особистий кабінет.
                                        </p>
                                        <p>
                                            2.13. Авторизація – введення Користувачем свого логіна і пароля для входу в свій Особистий кабінет на онлайн-сервісі.
                                        </p>
                                        <p>
                                            2.14. Політика – дана політика конфіденційності, розміщена за адресою @privacyLink
                                        </p>
                                        <p>
                                            2.15. Контролер персональних даних – це фізична або юридична особа, яка визначає цілі та засоби для обробки персональних даних та несе основну відповідальність за їх обробку.
                                        </p>
                                        <p>
                                            2.16. Процесор персональних даних – це фізична або юридична особа, яка на підставі інструкцій (вказівок, розпоряджень) контролера обробляє персональні дані для контролера. Процесор персональних даних є "розпорядником персональних даних" в термінології українського законодавства.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyThree">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-three" aria-expanded="false" aria-controls="privacy-three">
                                        <h4>3. Загальні положення</h4>
                                    </button>
                                </h2>
                                <div id="privacy-three" class="collapse" aria-labelledby="privacyThree" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            3.1. Політика застосовується до всіх Ваших персональних даних, які можуть бути отримані Нами в процесі використання Вами онлайн-сервісу. Дана Політика поширюється на персональні дані, отримані як до, так і після набуття чинності цієї Політики.
                                        </p>
                                        <p>
                                            3.2. Мета Політики полягає в доведенні до Вас необхідної інформації, що дозволяє оцінити, які персональні дані й з якими цілями обробляються нами, методи їх обробки і забезпечення безпеки.
                                        </p>
                                        <p>
                                            3.3. При використанні онлайн-сервісу Ви, повідомивши Адміністрації свої персональні дані, в тому числі за допомогою третіх осіб, визнаєте свою згоду на обробку своїх персональних даних відповідно до цієї Політики.
                                        </p>
                                        <p>
                                            3.4. У разі незгоди з умовами цієї Політики Ви зобов'язані припинити використовувати онлайн-сервіс.
                                        </p>
                                        <p>
                                            3.5. Згода на обробку персональних даних може бути відкликана суб'єктом персональних даних. У разі відкликання суб'єктом персональних даних згоди на обробку персональних даних Адміністрація має право продовжити обробку персональних даних без згоди суб'єкта персональних даних при наявності підстав, зазначених у Законодавстві.
                                        </p>
                                        <p>
                                            3.6. Адміністрація сайту не перевіряє достовірність персональних даних, наданих Користувачем, не має можливості оцінювати його дієздатність. Однак Адміністрація виходить з того, що Користувач діє сумлінно, обачно, надає достовірні й достатні персональні дані і докладає всіх необхідних зусиль для підтримки таких даних в актуальному стані, і не порушує права третіх осіб.
                                        </p>
                                        <p>
                                            3.7. Погоджуючись з умовами цієї Політики, Ви підтверджуєте, що в момент збору персональних даних Ви маєте інформацію про осіб, яким передаються персональні дані, зміст і цілі збору персональних даних. Ви підтверджуєте (гарантуєте), що персональні дані, які передані нам на обробку, передані за згодою власників персональних даних і в рамках Законодавства.
                                        </p>
                                        <p>
                                            3.8. Адміністрація, отримавши персональні дані від Користувача, не приймає на себе зобов'язання по інформуванню суб'єктів (їх представників), персональні дані яких йому передані, про початок обробки персональних даних, оскільки обов'язок здійснити відповідне інформування при укладанні договору з суб'єктом персональних даних та/або при отриманні згоди на таку передачу несе Користувач, який передав персональні дані.
                                        </p>
                                        <p>
                                            3.9. Обробка Ваших персональних даних здійснюється відповідно до вимог Закону. Обробка персональних даних осіб, які перебувають на території ЄС або є громадянами ЄС, регулюється, зокрема, Генеральним регламентом про захист даних ЄС 2016/679 (далі – "GDPR"). Також законодавство інших країн може встановлювати додаткові вимоги.
                                        </p>
                                        <p>
                                            3.10. Дана Політика діє відносно всієї інформації, яку Адміністрація може отримати про Користувача при використанні їм онлайн-сервісу, а також в ході виконання Адміністрацією будь-яких угод і договорів з Користувачем.
                                        </p>
                                        <p>
                                            3.11. Дана Політика є внутрішнім документом Адміністрації.
                                        </p>
                                        <p>
                                            3.12. Контролер персональних даних звільняється від відповідальності за наслідки, які наступили у зв'язку з обробкою їм персональних даних, у випадку, якщо він не несе відповідальності за подію, яка спричинила такі наслідки.
                                        </p>
                                        <p>
                                            Ви також погоджуєтеся з тим, що Власник персональних даних має право надавати доступ та передавати Ваші персональні дані третім особам без будь-яких додаткових повідомлень виключно, якщо при цьому не змінюється мета їх обробки і тільки у випадках, передбачених цією політикою конфіденційності та або законодавством України.
                                        </p>
                                        <p>
                                            Ніхто у віці до 18 років не повинен надавати нам персональну інформацію через Онлайн-сервіс. Ми не збираємо цілеспрямовано персональну інформацію осіб віком до 18 років. Батьки та опікуни повинні постійно контролювати пов'язану з цим діяльність своїх дітей.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyFour">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-four" aria-expanded="false" aria-controls="privacy-four">
                                        <h4>4. Склад персональних даних</h4>
                                    </button>
                                </h2>
                                <div id="privacy-four" class="collapse accordion-collapse" aria-labelledby="privacyFour" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            4.1. Адміністрація для здійснення своєї діяльності і для виконання своїх зобов'язань обробляє персональні дані Користувача, надані їм при реєстрації на сайті, які зберігаються в особистому кабінеті.
                                        </p>
                                        <p>
                                            4.2. До персональних даних Користувача відносяться: прізвище, ім'я, адреса електронної пошти, номер мобільного/стаціонарного телефону, країна проживання, дата народження.
                                            Ми просимо Вас повідомляти тільки ті персональні дані, які необхідні для надання обраної Вами послуги, отримання інформаційної розсилки або відповіді на Ваш спеціальний запит/претензію. У той же час, якщо Ви вирішите повідомити нам додаткові персональні дані, ми також зможемо обробити їх з необхідним рівнем захисту.
                                        </p>
                                        <p>
                                            4.3. Дані, які автоматично передаються Адміністрації при використанні онлайн-сервісу Користувачем за допомогою встановленого на пристрої програмного забезпечення: IP-адреса, інформація про браузер і вид операційної системи пристрою, технічні характеристики обладнання і програмного забезпечення, дата і час доступу до онлайн-сервісу.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyFive">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-five" aria-expanded="false" aria-controls="privacy-five">
                                        <h4>5. Підстави і мета обробки персональних даних</h4>
                                    </button>
                                </h2>
                                <div id="privacy-five" class="collapse accordion-collapse" aria-labelledby="privacyFive" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            5.1. Підставами для обробки персональних даних є:
                                            <ul>
                                                <li>
                                                    згода суб'єкта персональних даних на обробку його персональних даних Адміністрацією;
                                                </li>
                                                <li>
                                                    заключення та виконання договору, однією зі сторін якого є суб'єкт персональних даних або який укладено на користь суб'єкта персональних, або для здійснення заходів, що передують заключенню договору на вимогу суб'єкта персональних даних;
                                                </li>
                                                <li>
                                                    необхідність виконання Адміністрацією вимог, передбачених Законодавством.
                                                </li>
                                            </ul>
                                        </p>
                                        <p>
                                            5.2. Метою обробки персональних даних є:
                                            <ul>
                                                <li>здійснення покладених на Адміністрацію функцій відповідно до законодавства України і GDPR;</li>
                                                <li>
                                                    збір, зберігання і обробка персональних даних, отриманих в онлайн-сервісі в рамках Закону і GDPR;
                                                </li>
                                                <li>
                                                    відправлення Користувачу комерційних (маркетингових) повідомлень, що містять додаткову інформацію про послуги, актуальні акції та спеціальні пропозиції, що стосуються послуг, що надаються Адміністрацією за допомогою онлайн-сервісу;
                                                </li>
                                                <li>
                                                    ідентифікація суб'єкта персональних даних при використанні онлайн-сервісу;
                                                </li>
                                                <li>
                                                    зв'язок з суб'єктом персональних даних у разі необхідності, в тому числі, надсилання пропозицій, інформаційних матеріалів, повідомлень, інформації та запитів, реклами, а також обробки запитів суб'єкта персональних даних;
                                                </li>
                                                <li>
                                                    поліпшення якості онлайн-сервісу, зручності його використання, розробка нових функціональних можливостей і поліпшення якості обслуговування;
                                                </li>
                                                <li>
                                                    підвищення професійних навичок і кваліфікації Користувача;
                                                </li>
                                                <li>
                                                    проведення статистичних та інших досліджень на основі знеособлених даних;
                                                </li>
                                                <li>
                                                    виконання Адміністрацією договірних та інших зобов'язань перед Користувачем за угодами, укладеними між Адміністрацією та Користувачем або третіми особами в інтересах Користувача.
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacySix">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-six" aria-expanded="false" aria-controls="privacy-six">
                                        <h4>6. Основні принципи обробки персональних даних</h4>
                                    </button>
                                </h2>
                                <div id="privacy-six" class="collapse accordion-collapse" aria-labelledby="privacySix" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            6.1. Обробка персональних даних Адміністрацією здійснюється на основі принципів:
                                            <ul>
                                                <li>
                                                    Сумлінності Адміністрації, як власника персональних даних, що досягається шляхом виконання вимог законодавства України щодо обробки персональних даних.
                                                </li>
                                                <li>
                                                    Досягнення конкретних, заздалегідь визначених цілей обробки персональних даних.
                                                </li>
                                                <li>
                                                    Відповідності цілей обробки персональних даним цілям, заздалегідь визначеним та заявленим при зборі персональних даних.
                                                </li>
                                                <li>
                                                    Відповідності переліку і обсягу оброблюваних персональних даних, а також способів обробки персональних даних заявленим цілям обробки.
                                                </li>
                                                <li>
                                                    Достовірності персональних даних, їх достатності для цілей обробки, недопустимості обробки персональних даних, надлишкових по відношенню до цілей обробки персональних даних.
                                                </li>
                                                <li>
                                                    Забезпечення при обробці персональних даних точності персональних даних, їх достатності, а в деяких випадках і актуальності по відношенню до цілей обробки персональних даних.
                                                </li>
                                                <li>
                                                    Неприпустимості об'єднання баз даних, що містять персональні дані, обробка яких здійснюється з цілями, несумісними між собою.
                                                </li>
                                                <li>
                                                    Зберігання персональних даних у формі, що дозволяє визначити суб'єкта персональних даних не довше, ніж цього вимагають цілі їх обробки.
                                                </li>
                                                <li>
                                                    Оброблювані персональні дані підлягають знищенню або знеособленню по досягненню цілей обробки або в разі втрати необхідності в досягненні цих цілей, якщо інше не передбачено законодавством України та GDPR.
                                                </li>
                                                <li>
                                                    Ми також повинні враховувати періоди, впродовж яких нам, можливо, буде потрібно зберегти Ваші персональні дані для виконання наших юридичних зобов'язань перед Вами або контролюючими органами.
                                                </li>
                                                <li>
                                                    Ми можемо з часом мінімізувати Ваші персональні дані, які ми використовуємо, або навіть можемо зробити Ваші дані анонімними, щоб вони більше не могли бути пов'язані з Вами особисто. В цьому випадку ми зможемо використовувати цю інформацію зі статистичної або іншою метою без подальшого інформування Вас, оскільки така інформація перестає бути персональними даними.
                                                </li>
                                            </ul>
                                        </p>
                                        <p>
                                            6.2. Обробка персональних даних здійснюється Адміністрацією в статистичних чи інших дослідницьких цілях за умови обов'язкового знеособлення персональних даних.
                                        </p>
                                        <p>
                                            6.3. Адміністрація не здійснює обробку персональних даних, що стосуються расового чи етнічного походження, політичних, релігійних або світоглядних переконань, членства в політичних партіях та професійних спілках, засудження до кримінального покарання, а також даних, що стосуються здоров'я, статевого життя, біометричних і генетичних даних.
                                        </p>
                                        <p>
                                            6.4. Обробка персональних даних здійснюється з дотриманням умов, визначених законодавством України та GDPR.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacySeven">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-seven" aria-expanded="false" aria-controls="privacy-seven">
                                        <h4>7. Сроки обработки персональных данных</h4>
                                    </button>
                                </h2>
                                <div id="privacy-seven" class="collapse" aria-labelledby="privacySeven" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            7.1. Терміни обробки персональних даних визначаються виходячи з цілей обробки, але не тривають довше, ніж це визначено Законодавством.
                                        </p>
                                        <p>
                                            7.2. Персональні дані, термін обробки (зберігання) яких закінчився, повинні бути знищені або знеособлені, якщо інше не передбачено Законом. Зберігання персональних даних здійснюється у формі, що дозволяє визначити суб'єкта персональних даних не довше, ніж цього вимагають цілі обробки персональних даних, якщо термін зберігання персональних даних не встановлено Законом. Оброблювані персональні дані підлягають знищенню або знеособленню після досягнення цілей обробки або в разі втрати необхідності в досягненні цих цілей, якщо інше не передбачено Законом. Ми також повинні враховувати періоди, впродовж яких нам, можливо, буде потрібно зберегти Ваші персональні дані для виконання наших юридичних зобов'язань перед Вами або контролюючими органами (відповідно до Регламенту ЄС 261/2004).
                                        </p>
                                        <p>
                                            7.3. Ми можемо з часом мінімізувати Ваші персональні дані, які ми використовуємо, або навіть можемо зробити Ваші дані анонімними, щоб вони більше не могли бути пов'язані з Вами особисто. В цьому випадку ми зможемо використовувати цю інформацію без подальшого інформування Вас.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyEight">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-eight" aria-expanded="false" aria-controls="privacy-eight">
                                        <h4>8. Коло осіб, допущених до обробки персональних даних зі сторони Адміністрації</h4>
                                    </button>
                                </h2>
                                <div id="privacy-eight" class="collapse" aria-labelledby="privacyEight" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            8.1. Для досягнення цілей цієї Політики до обробки персональних даних допущені тільки ті співробітники Адміністрації, на яких покладено такий обов'язок відповідно до їх службових (трудових) обов'язків. Доступ інших співробітників може бути надано виключно в передбачених Законом випадках. Адміністрація гарантує дотримання конфіденційності та забезпечення безпеки персональних даних при їх обробці своїми співробітниками.
                                        </p>
                                        <p>
                                            8.2. Адміністрація має право передати персональні дані третім особам в наступних випадках:
                                            <ul>
                                                <li>
                                                    суб'єкт персональних даних письмово надав свою згоду на такі дії;
                                                </li>
                                                <li>
                                                    передача передбачена українським або іншим відповідним законодавством в рамках встановленої законодавством процедури. При цьому доступ до персональних даних третій особі не надається, якщо зазначена особа відмовляється взяти на себе зобов'язання щодо забезпечення виконання вимог Закону або не може їх забезпечити.
                                                </li>
                                            </ul>
                                        </p>
                                        <p>
                                            8.3. Адміністрація має право доручити обробку персональних даних третій особі за згодою суб'єкта персональних даних, якщо інше не передбачено законодавством України, на підставі укладеного з третьою особою договору, умовою якого є дотримання конфіденційності та нерозголошення персональних даних.
                                        </p>
                                        <p>
                                            8.4. Представники органів державної влади (в тому числі, контролюючих, наглядових, правоохоронних та інших органів) отримують доступ до персональних даних, що обробляються Адміністрацією, в обсязі та порядку, визначеному Законодавством.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyNine">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-nine" aria-expanded="false" aria-controls="privacy-nine">
                                        <h4>9. Реалізація захисту персональних даних</h4>
                                    </button>
                                </h2>
                                <div id="privacy-nine" class="collapse" aria-labelledby="privacyNine" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            9.1. Діяльність Адміністрації з обробки персональних даних в інформаційних системах нерозривно пов'язана із захистом Адміністрацією конфіденційності отриманої інформації, якщо це не суперечить чинному законодавству.
                                        </p>
                                        <p>
                                            9.2. Система захисту персональних даних включає в себе організаційні та (або) технічні заходи, визначені з урахуванням актуальних загроз безпеки персональних даних та інформаційних технологій, що використовуються в інформаційних системах. Адміністрація здійснює оновлення цих заходів з появою нових технологій в разі потреби.
                                        </p>
                                        <p>
                                            9.3. Обмін персональними даними при їх обробці в інформаційних системах здійснюється по каналах зв'язку, захищених технічними засобами захисту інформації.
                                        </p>
                                        <p>
                                            9.4. При обробці персональних даних в інформаційних системах Адміністрацією забезпечуються:
                                            <ul>
                                                <li>
                                                    проведення заходів, спрямованих на запобігання несанкціонованого доступу до персональних даних та (або) передачі їх особам, які не мають права доступу до такої інформації;
                                                </li>
                                                <li>
                                                    своєчасне виявлення фактів несанкціонованого доступу до персональних даних;
                                                </li>
                                                <li>
                                                    запобігання впливу на технічні засоби автоматизованої обробки персональних даних, внаслідок якого може порушитися їх функціонування;
                                                </li>
                                                <li>
                                                    можливість негайного відновлення персональних даних, модифікованих та знищених через несанкціонований доступ до них;
                                                </li>
                                                <li>
                                                    постійний моніторинг рівня захисту персональних даних.
                                                </li>
                                            </ul>
                                        </p>
                                        <p>
                                            9.5. Щодо персональної інформації зберігається конфіденційність за винятком випадків, коли технологія онлайн-сервісу або налаштування використовуваного Користувачем програмного забезпечення передбачають відкритий обмін інформацією з іншими Користувачами онлайн-сервісу або з будь-якими користувачами мережі Інтернет.
                                        </p>
                                        <p>
                                            9.6. Адміністрація реалізує наступні вимоги законодавства України в області персональних даних:
                                            <ul>
                                                <li>
                                                    вимоги конфіденційності персональних даних;
                                                </li>
                                                <li>
                                                    вимоги щодо забезпечення реалізації суб'єктом персональних даних своїх прав;
                                                </li>
                                                <li>
                                                    вимоги щодо забезпечення точності персональних даних, а в необхідних випадках і актуальності по відношенню до цілей обробки персональних даних (з прийняттям (забезпеченням прийняття) заходів з видалення або уточнення неповних або неточних даних);
                                                </li>
                                                <li>
                                                    вимоги до захисту персональних даних від неправомірного або випадкового доступу до них, знищення, спотворення, блокування, копіювання, надання, поширення персональних даних, а також від інших неправомірних дій у відношенні персональних даних;
                                                </li>
                                                <li>
                                                    інші вимоги Закону.
                                                </li>
                                            </ul>
                                        </p>
                                        <p>
                                            9.7. Відповідно до Закону Адміністрація самостійно визначає склад і перелік заходів, необхідних і достатніх для забезпечення виконання обов'язків, передбачених законодавством в області персональних даних від несанкціонованої або незаконної обробки та від ненавмисної втрати, знищення або пошкодження. Адміністрація дотримується принципу мінімізації персональних даних. Ми обробляємо тільки ту інформацію про Вас, яка нам необхідна, або інформацію, яку Ви за своєю згодою надасте у більшому обсязі, ніж необхідно для обробки. Крім цього, ми налаштували всі інтерфейси Онлайн-сервісу і додатки для надання послуг таким чином, щоб дотримувалася максимально можлива конфіденційність, налаштування якої можна відкоригувати на свій розсуд. При передачі персональних даних державним органам ми завжди використовуємо найбільш безпечні й перевірені шляхи передачі таких даних.
                                        </p>
                                        <p>
                                            9.8. Cookies та інші технології відстеження.
                                            <ul>
                                                <li>
                                                    Cookies – це невеликі текстові файли, які зберігають сайти на комп'ютері або мобільних пристроях в момент, коли Ви починаєте їх використовувати. Таким чином, сайт протягом деякого часу пам'ятатиме Ваші уподобання і дії, які Ви виконали, в тому числі для того, щоб Вам не потрібно було повторно вводити ці дані.
                                                </li>
                                                <li>
                                                    Наші файли cookies самі по собі не ідентифікують окремого користувача, а ідентифікують тільки комп'ютер або мобільний пристрій, яким Ви користуєтесь.
                                                </li>
                                                <li>
                                                    Cookies та інші технології відстеження в нашому онлайн-сервісі можуть використовуватися різними способами, наприклад, з метою експлуатації онлайн-сервісу, аналізу відвідуваності або в рекламних цілях.
                                                </li>
                                                <li>
                                                    Cookies та інші технології відстеження ми використовуємо, зокрема, для підвищення якості та ефективності наших послуг.
                                                </li>
                                                <li>
                                                    Для отримання додаткової інформації про те, що таке cookies, як вони працюють, як ними управляти або як їх видалити, перейдіть на www.allaboutcookies.org.
                                                </li>
                                                <li>
                                                    Повідомляємо Вам, що Ви можете в налаштуваннях деяких інтернет-браузерів налаштувати заборону cookies та інших технологій відстеження. При цьому Ви повинні розуміти, що якщо Ви вимкнете деякі файли cookies, функціональність онлайн-сервісу може бути обмежена і Ви не зможете використовувати всі його переваги, а також можлива некоректна робота деяких сторінок.
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyTen">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-ten" aria-expanded="false" aria-controls="privacy-ten">
                                        <h4>10. Права суб'єкта персональних даних</h4>
                                    </button>
                                </h2>
                                <div id="privacy-ten" class="collapse" aria-labelledby="privacyTen" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            10.1. Права суб'єкта персональних даних відповідно до законодавства України:
                                            <ul>
                                                <li>
                                                    Знати про джерела збору, місцезнаходження своїх персональних даних, мету їх обробки, місцезнаходження розпорядника персональних даних або дати відповідне доручення щодо отримання цієї інформації уповноваженим особам, крім випадків, встановлених Законом.
                                                </li>
                                                <li>
                                                    Отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб, яким передаються його персональні дані.
                                                </li>
                                                <li>
                                                    На доступ до своїх персональних даних.
                                                </li>
                                                <li>
                                                    Отримувати не пізніше ніж за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених Законом, відповідь про те, обробляються чи зберігаються його персональні дані, і які саме.
                                                </li>
                                                <li>
                                                    Пред'являти вмотивовану вимогу до Адміністрації про заперечення по обробці своїх персональних даних.
                                                </li>
                                                <li>
                                                    Пред'являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних, якщо дані обробляються незаконно чи є недостовірними.
                                                </li>
                                                <li>
                                                    На захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв'язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної особи.
                                                </li>
                                                <li>
                                                    Звертатися зі скаргами на обробку своїх персональних даних до Адміністрації, до Уповноваженого Верховної Ради України з прав людини або до суду.
                                                </li>
                                                <li>
                                                    Застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних.
                                                </li>
                                                <li>
                                                    Вносити застереження про обмеження права на обробку своїх персональних даних при наданні згоди.
                                                </li>
                                                <li>
                                                    Відкликати згоду на обробку персональних даних.
                                                </li>
                                                <li>
                                                    Ознайомитися з механізмом автоматичної обробки персональних даних.
                                                </li>
                                                <li>
                                                    На захист від автоматизованого рішення, яке має для нього правові наслідки.
                                                </li>
                                                <li>
                                                    Адміністрація має право доручити обробку персональних даних третій особі за згодою суб'єкта персональних даних, якщо інше не передбачено законодавством України, на підставі укладеного з третьою особою договору, умовою якого є дотримання конфіденційності та нерозголошення персональних даних.
                                                </li>
                                                <li>
                                                    Представники органів державної влади (в тому числі, контролюючих, наглядових, правоохоронних та інших органів), отримують доступ до персональних даних, оброблюваних в Адміністрації, в обсязі та порядку, визначеному законодавством України.
                                                </li>
                                            </ul>
                                        </p>
                                        <p>
                                            10.2. Інші права суб'єктів персональних даних відповідно до GDPR: крім українського законодавства щодо захисту персональних даних Адміністрація уважно ставиться до забезпечення Ваших прав, встановлених GDPR.
                                            <ul>
                                                <li>
                                                    Право на інформацію. Ми готові надавати суб'єктам даних інформацію про те, які з їхніх персональних даних ми обробляємо. Якщо у Вас буде бажання дізнатися, які Ваші персональні дані ми обробляємо, Ви зможете зробити запит на цю інформацію в будь-який час, в тому числі шляхом звернення до Адміністрації. Перелік даних, які ми повинні Вам надати, Ви можете знайти в статтях 13 і 14 GDPR. При цьому, при зверненні Ви повинні повідомити нам свої конкретні вимоги, щоб ми могли на законних підставах розглянути Ваш запит і дати відповідь. Зверніть увагу, що в разі, якщо ми не зможемо засвідчити Вашу особу шляхом обміну електронними повідомленнями або під час Вашого звернення по телефону, або в разі обґрунтованих сумнівів щодо Вашої особистості, ми можемо попросити Вас надати документ, що засвідчує особу, в тому числі шляхом особистої явки за адресою місцезнаходження Адміністрації. Тільки таким чином ми зможемо уникнути розголосу Ваших персональних даних особі, яка може видавати себе за Вас. Ми опрацюємо запити в найкоротші терміни, але в той же час просимо пам'ятати, що надання повної й законного відповіді щодо персональних даних – це складний процес, який може тривати до місяця.
                                                </li>
                                                <li>
                                                    Право на виправлення даних у Вас. Якщо Ви виявите, що деякі персональні дані, які ми обробляємо про Вас, є неправильним або застарілими, будь ласка, повідомте нам про це. У цьому випадку ми можемо попросити Вас НАДАТИ документ, що засвідчує особу, в тому числі шляхом особистої явки за адресою місцезнаходження Адміністрації. Якщо Ви хочете виправити персональні дані, які обробляються нами, Ви можете провести коригування самостійно, ввійшовши в свій особистий кабінет в онлайн-сервісі або зв'язавшись з Адміністрацією. У деяких випадках ми НЕ зможемо змінити Ваші персональні дані. Зокрема, таким випадком може бути, коли Ваші персональні дані вже були використані в процесі виконання договору і/або вони містяться в податковому документі, який був оформлений відповідно до Податкового законодавства.
                                                </li>
                                                <li>
                                                    Відкликання згоди на обробку персональних даних та право на забуття у випадку, якщо Адміністрація обробляє Ваші персональні дані на підставі згоди на обробку персональних даних (зокрема, з метою здійснення маркетингових/рекламних розсилок), подальшу обробку можна в будь-який час припинити. Досить відкликати згоду на таку обробку. Ви також можете використовувати своє право на забуття.У випадках, передбачених в ст.17 GDPR, Адміністрація знищить Ваші персональні дані, які обробляє, за винятком персональних даних, які ми зобов'язані будемо зберегти відповідно до вимог законодавства. Так само і в цьому випадку, в цілях безпеки, Адміністрація може попросити Вас надати документ, що засвідчує особу, в тому числі, безпосередньо за адресою місцезнаходження Адміністрації.
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyEleven">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-eleven" aria-expanded="false" aria-controls="privacy-eleven">
                                        <h4>11. Місце зберігання персональних даних</h4>
                                    </button>
                                </h2>
                                <div id="privacy-eleven" class="collapse" aria-labelledby="privacyEleven" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            Адміністрація має велику базу персональних даних. Для забезпечення їх безпеки ми використовуємо власні сервери, які розташовуються відповідно запитів до бази даних бази NS серверів за допомогою команд dig або nsllokup. Також не виключено, що база може розташовуватися на незалежних серверах 3-х осіб, основним видом діяльності яких є надання таких послуг як зберігання інформації без можливості обробки.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyTvelve">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-tvelve" aria-expanded="false" aria-controls="privacy-tvelve">
                                        <h4>12. Зміна політики конфіденційності</h4>
                                    </button>
                                </h2>
                                <div id="privacy-tvelve" class="collapse" aria-labelledby="privacyTvelve" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            12.1. Дана Політика може бути змінена або припинена Адміністрацією в односторонньому порядку без попереднього інформування користувачів, в тому числі, якщо цього вимагає законодавство. Нова редакція Політики вступає в силу з моменту її розміщення в онлайн-сервісі, якщо інше не передбачено новою редакцією Політики. Тому ми просимо Вас відвідувати онлайн-сервіс, щоб переконатися в тому, що Ви володієте актуальною інформацією.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyThirtin">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-thirtin" aria-expanded="false" aria-controls="privacy-thirtin">
                                        <h4>13. До кого Ви можете звернутися для захисту ваших персональних даних</h4>
                                    </button>
                                </h2>
                                <div id="privacy-thirtin" class="collapse" aria-labelledby="privacythirtin" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            13.1. Якщо у Вас виникнуть питання, зауваження, скарги або побажання щодо захисту і обробки персональних даних, Ви можете звертатися, надіславши електронний лист на адресу @email Обов'язково вказуйте у всій кореспонденції своє ім'я, прізвище, адресу електронної пошти, а також питання, зауваження, скарги чи вимоги.
                                        </p>
                                        <p>
                                            13.2. Адміністративний орган із захисту персональних даних в Україні – це Управління з питань захисту персональних даних Секретаріату Уповноваженого Верховної Ради України з прав людини. Ви можете звертатися до нього зі скаргами або пропозиціями, якщо вважаєте, що порушені Ваші права у зв'язку з обробкою персональних даних.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        @{ await Html.RenderPartialAsync("Partial/Widgets/_StillQuestions");}

    </div>
</div>