@inject ua.kozubka.context.Services.Repositories.ModelRepository.ISettingRepository _settingRepository
@{ 
    string termsLink = _settingRepository.GetSetting(ua.kozubka.context.Classes.Constants.SettingsOptions.TermsLink);
    string privacyLink = _settingRepository.GetSetting(ua.kozubka.context.Classes.Constants.SettingsOptions.PrivacyLink);
    string email = _settingRepository.GetSetting(ua.kozubka.context.Classes.Constants.SettingsOptions.SupportEmail);
}
<div class="content-overlay"></div>
<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section id="faq-tabs">
            <div class="row">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="faq-payment" aria-labelledby="payment" aria-expanded="true">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-tag bg-light-primary me-1">
                                <i data-feather="package" class="font-medium-4"></i>
                            </div>
                            <div>
                                <h4 class="mb-0">Умови використання сайтом</h4>
                            </div>
                        </div>
                        <div class="accordion accordion-margin mt-2" id="privacy-qna">
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyOne">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-one" aria-expanded="false" aria-controls="privacy-one">
                                        <h4>1. Вступна частина</h4>
                                    </button>
                                </h2>

                                <div id="privacy-one" class="collapse accordion-collapse" aria-labelledby="privacyOne" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            Дана Угода відноситься до онлайн-сервісу і регулює взаємини між сервісом, що надалі називатиметься "Адміністрація сайту", і Користувачем на умовах, зазначених нижче.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyTwo">
                                    <button class="accordion-button" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-two" aria-expanded="true" aria-controls="privacy-two">
                                        <h4>2. Терміни та визначення</h4>
                                    </button>
                                </h2>
                                <div id="privacy-two" class="collapse accordion-collapse" aria-labelledby="privacyTwo" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            2.1. В рамках цієї Угоди нижченаведені терміни вживаються в такому значенні:
                                            <ul>
                                                <li><h5 style="display:inline-block">Особистий кабінет</h5> — розділ сайту, доступ Користувача до якого здійснюється після його реєстрації за допомогою введення унікального логіна і пароля. Особистий кабінет містить персональні дані Користувача і призначений для перегляду і управління доступними функціональними можливостями онлайн-сервісу.</li>
                                                <li><h5 style="display:inline-block">Реєстрація</h5> — дії Користувача щодо заповнення та відправки реєстраційної форми, розміщеної в онлайн-сервісі, які, в разі відсутності у Адміністрації заперечень по реєстрації, мають наслідком надання доступу в онлайн-сервіс.</li>
                                                <li><h5 style="display:inline-block">Авторизація</h5> — введення Користувачем свого логіна і пароля для входу в свій Особистий кабінет в онлайн-сервісі.</li>
                                                <li><h5 style="display:inline-block">Угода</h5> — даний документ з усіма доповненнями, змінами та зазначеними в ньому обов'язковими документами.</li>
                                                <li><h5 style="display:inline-block">Персональні дані</h5> — будь-яка інформація, що відноситься прямо або опосередковано до певної або визначеної фізичної особи (Користувача).</li>
                                            </ul>
                                        </p>
                                        <p>
                                            2.2. Для цілей цієї Угоди можуть бути використані терміни, не визначені в п.1.1. Угоди. У разі відсутності однозначного тлумачення терміну в тексті Угоди необхідно керуватися тлумаченням терміну згідно з чинним законодавством України.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyThree">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-three" aria-expanded="false" aria-controls="privacy-three">
                                        <h4>3. Загальні положення</h4>
                                    </button>
                                </h2>
                                <div id="privacy-three" class="collapse" aria-labelledby="privacyThree" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            3.1. Користувач зобов'язаний повністю ознайомитися з цією Угодою до моменту реєстрації в онлайн-сервісі.
                                        </p>
                                        <p>
                                            3.2. Свідченням повного і беззастережного прийняття умов цієї Угоди є здійснення Користувачем дій, спрямованих на послідовне виконання всіх реєстраційних процедур і отримання доступу до Особистого кабінету.
                                        </p>
                                        <p>
                                            3.3. Ухвалення умов цієї Угоди означає, що Користувач згоден з усіма положеннями цієї Угоди і зобов'язується їх дотримуватися.
                                        </p>
                                        <p>
                                            3.4. Відносно функціонування і розвитку онлайн-сервісу Адміністрація керується законодавством України, цією Угодою, Політикою конфіденційності та іншими спеціальними документами, які розроблені або можуть бути розроблені і прийняті Адміністрацією з метою регламентації надання Користувачеві доступу до функціоналу онлайн-сервісу.
                                        </p>
                                        <p>
                                            3.5. Чинна редакція Угоди опублікована за адресою @termsLink
                                        </p>
                                        <p>
                                            3.6. Адміністрація має право в будь-який час і без попереднього повідомлення Користувача вносити зміни в зміст і функціональні можливості, пропоновані онлайн-сервісом, і (або) умови надання послуг.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyFour">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-four" aria-expanded="false" aria-controls="privacy-four">
                                        <h4>4. Предмет Угоди</h4>
                                    </button>
                                </h2>
                                <div id="privacy-four" class="collapse accordion-collapse" aria-labelledby="privacyFour" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            4.1. Адміністрація зобов'язується на умовах, встановлених цією Угодою, надавати Користувачу доступ до змісту і функціональних можливостей онлайн-сервісу, а Користувач зобов'язується належним чином виконувати умови, встановлені цією Угодою.
                                        </p>
                                        <p>
                                            4.2. Для отримання Користувачем доступу до змісту і функціональних можливостей онлайн-сервісу необхідна реєстрація Користувача в онлайн-сервісі.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyFive">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-five" aria-expanded="false" aria-controls="privacy-five">
                                        <h4>5. Реєстрація Користувача</h4>
                                    </button>
                                </h2>
                                <div id="privacy-five" class="collapse accordion-collapse" aria-labelledby="privacyFive" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            5.1. Для реєстрації в онлайн-сервісі Користувач заповнює форму (анкету) достовірною, повною і точною інформацією про себе, або про особу, в інтересах якої він діє, і зобов'язується підтримувати її в актуальному стані. Ознайомлюється зі змістом Політики конфіденційності та цієї Угоди, висловлює свою згоду з викладеними умовами шляхом проставлення відміток у відповідній графі анкети. У разі вірного і послідовного виконання всіх реєстраційних дій Користувач отримує доступ в онлайн-сервіс.
                                        </p>
                                        <p>
                                            5.2. Якщо Користувач надає невірну інформацію або у Адміністрації є підстави вважати, що надана Користувачем інформація неповна або недостовірна, Адміністрація має право на свій розсуд заблокувати або видалити акаунт Користувача, а також відмовити Користувачеві в використанні онлайн-сервісу повністю або в певній частині.
                                        </p>
                                        <p>
                                            5.3. Адміністрація залишає за собою право в будь-який момент запросити від Користувача підтвердження даних, зазначених при реєстрації, і запросити підтверджуючі документи (зокрема — документи, що засвідчують особу), ненадання яких, на розсуд Адміністрації, може бути прирівняне до надання недостовірної інформації, що, в свою чергу, спричинить наслідки, передбачені п.4.2. цієї Угоди. У разі, якщо дані Користувача, зазначені в наданих їм документах, не відповідають даним, зазначеним при реєстрації, а також в разі, коли дані, вказані при реєстрації, не дозволяють ідентифікувати Користувача, Адміністрація має право вжити заходів, зазначених в п.4.2. цієї Угоди.
                                        </p>
                                        <p>
                                            5.4. Користувач погоджується з тим, що дії, вчинені в онлайн-сервісі після авторизації (за допомогою використання індивідуального логіна і пароля), визнаються діями Користувача.
                                        </p>
                                        <p>
                                            5.5. Користувач несе відповідальність за достовірність, актуальність, повноту і відповідність законодавству України наданої при реєстрації інформації та відсутність на неї претензій третіх осіб.
                                        </p>
                                        <p>
                                            5.6. Користувач несе відповідальність за безпеку логіна і пароля, а також за всі дії, вчинені Користувачем після авторизації. Користувач зобов'язаний негайно повідомити Адміністрацію про будь-який випадок несанкціонованого доступу з використанням логіна і пароля і/або про будь-яке порушення конфіденційності. Адміністрація не несе відповідальності за шкоду, заподіяну Користувачеві в результаті несанкціонованого доступу до Особистого кабінету третіх осіб.
                                        </p>
                                        <p>
                                            5.7. З метою безпеки Адміністрація має право заборонити використання певних логінів, а також встановлювати вимоги до логіну та паролю (довжина, допустимі символи і т.д.).
                                        </p>
                                        <p>
                                            5.8. Будь-які дії, вчинені з використанням логіна і пароля, вважаються здійсненими відповідним Користувачем, за винятком випадків, коли Користувач завчасно попередив Адміністрацію про несанкціонований доступ до свого Особистого кабінету третіх осіб.
                                        </p>
                                        <p>
                                            5.9. У разі передачі Користувачем логіна і пароля будь-якій третій особі всю відповідальність за дії цієї третьої особи, вчинені в онлайн-сервісі, несе Користувач.
                                        </p>
                                        <p>
                                            5.10. Інформація про Користувача міститься в Особистому кабінеті, зберігається і обробляється онлайн-сервісом відповідно до законодавства України та Політики конфіденційності.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacySix">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-six" aria-expanded="false" aria-controls="privacy-six">
                                        <h4>6. Порядок використання онлайн-сервісу</h4>
                                    </button>
                                </h2>
                                <div id="privacy-six" class="collapse accordion-collapse" aria-labelledby="privacySix" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            6.1. По завершенню реєстрації Користувач отримує доступ до онлайн-сервісу. Користувач зобов'язаний використовувати онлайн-сервіс і Особистий кабінет сумлінно, не порушуючи законодавство України, права і свободи третіх осіб, норми етики й моралі.
                                        </p>
                                        <p>
                                            6.2. Користувач має право використовувати матеріали онлайн-сервісу, що не входять до продуктів, що надаються користувачем для роботи з сервісом виключно для особистого некомерційного використання за умови дотримання авторського права і права власності. Забороняється розповсюджувати, копіювати матеріали, розміщені в онлайн-сервісі повністю або частково, демонструвати їх або використовувати їх будь-яким іншим чином для суспільних або комерційних цілей. Будь-яке використання матеріалів, розміщених в онлайн-сервісі, на інших сайтах або в комп'ютерних мережах забороняється.
                                        </p>
                                        <p>
                                            6.3. Звертаючись до Адміністрації або залишаючи коментар або відгук на сайті, Користувач несе відповідальність за те, що дане повідомлення не є незаконним, шкідливим, загрозливим, наклепницьким, не ображає моральність, не порушує авторські права, не пропагує ненависть і/або дискримінацію людей за расовою, етнічною, статевою, релігійною, соціальною ознаками, не містить образи на адресу третіх осіб або Адміністрації, а також будь-яким іншим чином не порушує чинне законодавство України.
                                        </p>
                                        <p>
                                            6.4. Користувач за допомогою апаратно-програмного забезпечення, використовуваного ним, може дозволити зберігання логіна і пароля (з використанням файлів cookies або подібних технологій) для подальшої автоматичної авторизації в онлайн-сервісі.
                                        </p>
                                        <p>
                                            6.5. Для забезпечення безпеки Користувач повинен самостійно здійснювати завершення сеансів використання онлайн-сервісу за допомогою активного вікна «Вихід». Адміністрація не несе відповідальності за втрату даних Користувача, а також інші наслідки будь-якого характеру, які можуть статися через порушення Користувачем положень даного пункту Угоди.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacySeven">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-seven" aria-expanded="false" aria-controls="privacy-seven">
                                        <h4>7. Права та обов'язки сторін</h4>
                                    </button>
                                </h2>
                                <div id="privacy-seven" class="collapse" aria-labelledby="privacySeven" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            7.1. Адміністрація має право:
                                            <ul>
                                                <li>
                                                    на свій розсуд припиняти, обмежувати або закривати доступ Користувача до всіх або до будь-якого з розділів онлайн-сервісу в випадках, передбачених Політикою конфіденційності та цією Угодою;>
                                                </li>
                                                <li>
                                                    встановлювати будь-які обмеження у використанні онлайн-сервісу, в будь-який час змінювати цю Угоду в односторонньому порядку, опублікувавши в онлайн-сервісі нову редакцію Угоди без отримання згоди Користувача.
                                                </li>
                                            </ul>
                                        </p>
                                        <p>
                                            7.2. Адміністрація зобов'язана здійснювати всі залежні від неї дії для забезпечення безперебійної роботи онлайн-сервісу.
                                        </p>
                                        <p>
                                            7.3. Користувач має право:
                                            <ul>
                                                <li>
                                                    звертатися до Адміністрації за консультацією з питань використання онлайн-сервісу;
                                                </li>
                                                <li>
                                                    направляти Адміністрації аргументовані пропозиції щодо поліпшення роботи онлайн-сервісу;
                                                </li>
                                                <li>
                                                    на доступ до інформаційних матеріалів в онлайн-сервісі при дотриманні умов цієї Угоди.
                                                </li>
                                            </ul>
                                        </p>
                                        <p>
                                            7.4. Користувач зобов'язаний:
                                            <ul>
                                                <li>
                                                    не здійснювати дій, спрямованих на отримання доступу до чужого Особистого кабінету шляхом підбору логіна і пароля, злому або інших дій;
                                                </li>
                                                <li>
                                                    самостійно стежити за змінами умов цієї Угоди в онлайн-сервісі;
                                                </li>
                                                <li>
                                                    не копіювати аудіо та відеоматеріали в онлайн-сервісі повністю або частково, не вести запис матеріалів, а також не фіксувати зміст матеріалів повністю або частково на будь-якому матеріальному носії, а також не здійснювати будь-які інші дії, прямо не передбачені цією Угодою;
                                                </li>
                                                <li>
                                                    сумлінно виконувати всі вимоги і рекомендації Адміністрації по використанню онлайн-сервісу;
                                                </li>
                                                <li>
                                                    дотримуватися інших зобов'язань, передбачених цією Угодою, Політикою конфіденційності та законодавством України.
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyEight">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-eight" aria-expanded="false" aria-controls="privacy-eight">
                                        <h4>8. Інтелектуальні права</h4>
                                    </button>
                                </h2>
                                <div id="privacy-eight" class="collapse" aria-labelledby="privacyEight" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            8.1. Всі об'єкти, доступні за допомогою онлайн-сервісу, в тому числі елементи дизайну, текст, графічні зображення, ілюстрації, відео, програми для ЕОМ, бази даних, музика, звуки та інші об'єкти, розміщені в рамках онлайн-сервісу, є об'єктами виняткових прав адміністрації.
                                        </p>
                                        <p>
                                            8.2. Адміністрація надає Користувачу право функціонального використання онлайн-сервісу в межах його загальних функціональних можливостей при дотриманні Користувачем умов цієї Угоди.
                                        </p>
                                        <p>
                                            8.3. Використання онлайн-сервісу іншими способами, в тому числі шляхом копіювання (відтворення) елементів дизайну, що входять до складу онлайн-сервісу, програм для ЕОМ і баз даних, їх декомпіляція, модифікація і подальше поширення, публічний показ, доведення до загального відома строго заборонені, якщо інше не передбачено цією Угодою.
                                        </p>
                                        <p>
                                            8.4. Користувачам заборонено відтворювати, повторювати і копіювати, продавати, а також використовувати для будь-яких комерційних цілей будь-які частини онлайн-сервісу, крім тих випадків, коли Користувач отримав письмовий дозвіл від Адміністрації на вчинення зазначених дій, або в тому випадку, якщо вчинення зазначених дій прямо передбачено розділом онлайн-сервісу.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyNine">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-nine" aria-expanded="false" aria-controls="privacy-nine">
                                        <h4>9. Відповідальність</h4>
                                    </button>
                                </h2>
                                <div id="privacy-nine" class="collapse" aria-labelledby="privacyNine" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            9.1. Адміністрація не несе відповідальності за будь-які збитки, що виникли в результаті використання онлайн-сервісу, або неможливості доступу в онлайн-сервіс, несанкціонованого доступу до комунікацій Користувача, заяви або поведінки будь-якої третьої особи в онлайн-сервісі.
                                        </p>
                                        <p>
                                            9.2. Користувачі і Адміністрація погоджуються, що всі суперечки і розбіжності, які можуть виникнути з цієї Угоди або у зв'язку з нею, будуть вирішуватися шляхом переговорів. Якщо згоди не буде досягнуто, всі суперечки щодо цієї Угоди вирішуються відповідно до норм українського законодавства.
                                        </p>
                                        <p>
                                            9.3. Визнання судом будь-якого положення цієї Угоди недійсним або таким, що не підлягає примусовому виконанню не тягне недійсності або невиконання інших положень Угоди.
                                        </p>
                                        <p>
                                            9.4. Бездіяльність з боку Адміністрації в разі порушення Користувачами будь-яких положень цієї Угоди не позбавляє Адміністрацію права застосовувати відповідні дії на захист своїх інтересів пізніше, а також не означає відмови Адміністрації від своїх прав у разі вчинення в майбутньому подібних або схожих порушень або порушень інших положень цієї Угоди Користувачем.
                                        </p>
                                        <p>
                                            9.5. Адміністрація не несе відповідальності перед Користувачами за припинення доступу в онлайн-сервіс в разі порушення Користувачами будь-якого положення цієї Угоди або іншого документа, що містить умови користування онлайн-сервісом.
                                        </p>
                                        <p>
                                            9.6. Користувачі погоджуються використовувати онлайн-сервіс і отримувати за допомогою нього інформацію під свою відповідальність. Користувачі самостійно несуть відповідальність за можливі наслідки використання цієї інформації. Адміністрація відмовляється від будь-яких гарантій того, що онлайн-сервіс буде відповідати конкретним цілям і вимогам користувачів.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyTen">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-ten" aria-expanded="false" aria-controls="privacy-ten">
                                        <h4>10. Персональні дані та їх використання</h4>
                                    </button>
                                </h2>
                                <div id="privacy-ten" class="collapse" aria-labelledby="privacyTen" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            10.1. Мета, порядок, терміни та інші умови, при яких Адміністрація сайту обробляє персональні дані Користувача, визначені в Політиці конфіденційності, розміщеній за адресою @privacyLink.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="privacyEleven">
                                    <button class="accordion-button collapsed" data-bs-toggle="collapse" role="button" data-bs-target="#privacy-eleven" aria-expanded="false" aria-controls="privacy-eleven">
                                        <h4>11. Заключні положення</h4>
                                    </button>
                                </h2>
                                <div id="privacy-eleven" class="collapse" aria-labelledby="privacyEleven" data-bs-parent="#privacy-qna">
                                    <div class="accordion-body">
                                        <p>
                                            11.1. Ця Угода регулюється і тлумачиться відповідно до законодавства України. Питання, не вирішені цією Угодою, підлягають вирішенню відповідно до законодавства України. Скрізь по тексту цієї Угоди, якщо явно не вказано інше, під терміном «законодавство» розуміється законодавство України.
                                        </p>
                                        <p>
                                            11.2. Звернення, пропозиції та претензії Користувача до Адміністрації в зв'язку з цією Угодою та всіма питаннями щодо функціонування онлайн-сервісу, порушеннями прав та інтересів третіх осіб при його використанні можуть бути направлені по електронній пошті за адресою e-mail @email
                                        </p>
                                        <p>
                                            11.3. Користувач підтверджує, що ознайомлений з усіма пунктами цієї Угоди і безумовно приймає їх.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        @{ await Html.RenderPartialAsync("Partial/Widgets/_StillQuestions");}

    </div>
</div>