@model string
<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper container-xxl" style="margin-top:3rem">

    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills mb-2">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Profile" asp-action="Index">
                            <i data-feather="user" class="font-medium-3 me-50"></i>
                            <span class="fw-bold">Мій профіль</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Profile" asp-action="ChangePassword">
                            <i data-feather="lock" class="font-medium-3 me-50"></i>
                            <span class="fw-bold">Безпека</span>
                        </a>
                    </li>
                </ul>
                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title">Змінити пароль</h4>
                    </div>
                    <div class="card-body pt-1">
                        <div class="alert alert-danger " role="alert" asp-validation-summary="All"></div>
                        <form method="post" class="validate-form">
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-1">
                                    <label class="form-label" for="account-old-password">Діючий пароль</label>
                                    <div class="input-group form-password-toggle input-group-merge">
                                        <input type="password" class="form-control" name="password" placeholder="Введіть діючий пароль" data-msg="Please current password" />
                                        <div class="input-group-text cursor-pointer">
                                            <i data-feather="eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-1">
                                    <label class="form-label" for="account-new-password">Новий пароль</label>
                                    <div class="input-group form-password-toggle input-group-merge">
                                        <input type="password" name="newpassword" class="form-control" placeholder="Введіть новий пароль" />
                                        <div class="input-group-text cursor-pointer">
                                            <i data-feather="eye"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 mb-1">
                                    <label class="form-label" for="account-retype-new-password">Повторить новий пароль</label>
                                    <div class="input-group form-password-toggle input-group-merge">
                                        <input type="password" class="form-control" name="confirmnewpassword" placeholder="Повторить новий пароль" />
                                        <div class="input-group-text cursor-pointer"><i data-feather="eye"></i></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary w-100 me-1 mt-1">Зберегти зміни</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("Partial/Widgets/_LinkToService");}
</div>
