@attribute [Authorize]
@page "/teams/create"
@using ua.kozubka.context.Models.Where
@layout CabinetLayout
@inject ua.kozubka.context.Services.Repositories.ModelRepository.Where.IWhereTeamRepository _teamRepository
@inject ua.kozubka.context.Services.Repositories.ModelRepository.UserRepository _userRepository
@inject NavigationManager NavManager

<Breadcrumb H1Tag='Мій кабінет' Li1Href='/teams' Li1Text='Мої команди' Li2Text='Створення' />
<div class="post-a-new-job-box">
    <h3>Додавання команди</h3>
    <div class="bar"></div>
    <FormForTeam  WhereTeamModel ="whereTeamModel" IsEdit="false" OnValidSubmit="Create" />
</div>
@code {

    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }
    WhereTeamItemModel whereTeamModel = new()
    {
         WhereTeam = new(),
         WhereTeamDetail=new()
    };
    User currentUser { get; set; }
    protected async override Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        currentUser = await _userRepository.GetUserAsync(authState.User);
        whereTeamModel.WhereTeam.InviteLinkCode = string.Empty;
        if(currentUser==null) NavManager.NavigateTo("/notfound");
    }
    async Task  Create()
    {
        whereTeamModel.WhereTeam.TeamLead = currentUser;
        await _teamRepository.AddUpdateTeam(whereTeamModel.WhereTeam);
        NavManager.NavigateTo("/teams");
    }
}
