@model ua.kozubka.context.Models.Directory.DirectoryRroGoodsGroup
<div class="col-6">
    <a class="shadow-sm category-main-page rro-group-link" style="background: lightseagreen;color:white" data-idRroGoodsGroup="@Model.ParrentIdRroGoodsGroup" href="#">Назад</a>
</div>