@model ua.kozubka.context.Models.Directory.DirectoryRroGoodsGroup
<div class="col-6">
    <a class="shadow-sm category-main-page rro-group-link"  data-idRroGoodsGroup="@Model.IdRroGoodsGroup" href="#">@Model.GroupName</a>
</div>