<div class="container">
    <div class="offline-area-wrapper py-3 d-flex align-items-center justify-content-center">
        <div class="offline-text text-center">
            <h2>KOZUBKA</h2>
            <h5>@ViewBag.ErrorCode</h5>
            <h4>@ViewBag.ErrorTitle</h4>
            <p>@ViewBag.ErrorMessage. Ви можете повернутись на головну сторінку</p><a class="btn btn-primary" asp-controller="Home" asp-action="Index">На Головну</a>
        </div>
    </div>
</div>