@model ua.kozubka.context.ViewModels.GeneralViewModels.RroGoodsGroupMenuViewModel
<div class="col-6">
    <a class="shadow-sm category-main-page rro-group-link" style="background: #ffaf00;color: white;" data-IsSelect="@(Model.Children.Any()?"false":"true")" data-IsBack="false" data-idRroGoodsGroup="@Model.IdRroGoodsGroup" data-rrogoodsgroupname="@Model.GroupName" href="#">@Model.GroupName</a>
</div>