@inject ua.kozubka.context.Services.Repositories.ModelRepository.UserRepository _userRepository
@inject ua.kozubka.context.Services.Repositories.GeneralRepository.IDesignerRepository _designerRepository
@inject ua.kozubka.context.Services.Repositories.ModelRepository.ISettingRepository _settingRepository
@{
    var filesite = _settingRepository.GetSetting(ua.kozubka.context.Classes.Constants.SettingsOptions.FileSite);
    var currentUser = _userRepository.Users.Where(c => c.UserName == User.Identity.Name).FirstOrDefault();
    var googleTageManager = _settingRepository.GetSetting(ua.kozubka.context.Classes.Constants.SettingsOptions.GoogleTagManager);
    var hi = "Доброго дня!";
    if (DateTime.Now.Hour >= 5 && DateTime.Now.Hour < 10)
    {
        hi = "Доброго рануку!";
    }
    else if (DateTime.Now.Hour >= 18 && DateTime.Now.Hour <= 22)
    {
        hi = "Доброго вечора!";
    }
    else if (DateTime.Now.Hour > 22 && DateTime.Now.Hour <= 24)
    {
        hi = "Доброї ночі!";
    }
    else if (DateTime.Now.Hour >= 0 && DateTime.Now.Hour < 5)
    {
        hi = "Доброї ночі!";
    }
    string termsLink = _settingRepository.GetSetting(ua.kozubka.context.Classes.Constants.SettingsOptions.TermsLink);
    string privacyLink = _settingRepository.GetSetting(ua.kozubka.context.Classes.Constants.SettingsOptions.PrivacyLink);
    string contactLink = _settingRepository.GetSetting(ua.kozubka.context.Classes.Constants.SettingsOptions.ContactLink);

}
<!DOCTYPE html>
<html lang="uk">
<head>
    @if (!string.IsNullOrEmpty(googleTageManager))
    {
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '@googleTageManager');
        </script>
    }
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Продукти, товари, робота, відпочинок та інші сервіси шукайте на KOZUBKA™">
    <meta name="keywords" content="Продукти, відпочинок, товари, пошук работи, блоги, соціальна мережа">
    <meta name="author" content="ZPSoft">

    <title>KOZUBKA™ - все в одному місці</title>

    <link rel="apple-touch-icon" href="~/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/ico/kozubka.ico">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!--BEGIN: Kozubka Main Style-->
    @{ await Html.RenderPartialAsync("Partial/ScriptsCss/_MainCSS"); }

    <!--END: Kozubka Main Style-->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/swiper/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/magnific-popup/css/magnific-popup.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style2.css">
    
    
    @RenderSection("ScriptsTop", required: false)
</head>

<body>
    <div id="wrapper" class="wrapper">
        <div class="pre-loader" id="preloader">
            <div class="loader"></div>
        </div>
        <div id="main_content" class="footer-fixed">
            <header class="rt-header sticky-on">
                <div id="sticky-placeholder"></div>
                <div class="topbar topbar-style-1" id="topbar-wrap">
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-lg-7">
                                <div class="rt-trending rt-trending-style-1">
                                    <p class="trending-title">
                                        <i class="fas fa-bolt icon"></i>
                                        Trending
                                    </p>
                                    <div class="rt-treding-slider1 swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="item">
                                                    <p class="trending-slide-title">
                                                        newsan unknown printer took a galley of
                                                        type andscrambled.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="item">
                                                    <p class="trending-slide-title">
                                                        newsan unknown printer took a galley of
                                                        type andscrambled.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="item">
                                                    <p class="trending-slide-title">
                                                        newsan unknown printer took a galley of
                                                        type andscrambled.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-lg-5">
                                <div class="rt-topbar-right">
                                    <div class="meta-wrap">
                                        <span class="rt-meta">
                                            <i class="far fa-calendar-alt icon"></i>
                                            <span class="currentDate1">
                                                @DateTime.Now.ToString("ddd, dd MMM yyyy")
                                            </span>
                                        </span>
                                    </div>
                                    <div class="social-wrap d-none d-xl-block">
                                        <ul class="rt-top-social">
                                            <li class="follow">Follow Us:</li>
                                            <li>
                                                <a href="https://www.facebook.com/" target="_blank">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/" target="_blank">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/" target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.pinterest.com/" target="_blank">
                                                    <i class="fab fa-pinterest-p"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.whatsapp.com/" target="_blank">
                                                    <i class="fab fa-skype"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end topbar -->
                <!-- Header Main -->
                <div class="header-main header-main-style-1 navbar-wrap" id="navbar-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="d-flex align-items-center justify-content-between">

                                <!-- start logo here -->
                                <div class="site-branding">
                                    <a class="dark-logo" href="index.html">
                                        <img width="162" height="52" src="~/assets/img/logo/logo-dark.svg" alt="neeon">
                                    </a>
                                    <a class="light-logo" href="index.html">
                                        <img width="162" height="52" src="~/assets/img/logo/logo-light.svg" alt="neeon">
                                    </a>
                                </div>
                                <!-- end logo here -->
                                <!-- start main menu -->
                                <div class="main-menu">
                                    <nav class="main-menu__nav">
                                        <ul>
                                            <li class="main-menu__nav_sub list active">
                                                <a class="animation" href="javascript:void(0)">Home</a>
                                                <ul class="main-menu__dropdown">
                                                    <li><a href="index.html">Home 01 - Main</a></li>
                                                    <li><a href="index2.html">Home 02 - Technology</a></li>
                                                    <li><a href="index3.html">Home 03 - Gaming</a></li>
                                                    <li><a href="index4.html">Home 04 - Illustration</a></li>
                                                    <li><a href="index5.html">Home 05 - Newspaper</a></li>
                                                    <li><a href="index6.html">Home 06 - Magazine</a></li>
                                                    <li><a href="index7.html">Home 07 - Sports</a></li>
                                                    <li><a href="index8.html">Home 08 - Travels</a></li>
                                                    <li><a href="index9.html">Home 09 - Fitness</a></li>
                                                </ul>
                                            </li>
                                            <li class="main-menu__nav_sub list">
                                                <a class="animation" href="javascript:void(0)">Features</a>
                                                <ul class="main-menu__dropdown">
                                                    <li class="main-menu__nav_sub">
                                                        <a href="javascript:void(0)">
                                                            Post Layout
                                                        </a>
                                                        <ul>
                                                            <li><a href="single-post1.html">Single Post 01</a></li>
                                                            <li><a href="single-post2.html">Single Post 02</a></li>
                                                            <li><a href="single-post3.html">Single Post 03</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="author.html">Author Deatils</a></li>
                                                </ul>
                                            </li>
                                            <li class="main-menu__nav_sub list">
                                                <a class="animation" href="javascript:void(0)">Categories </a>
                                                <ul class="main-menu__dropdown">
                                                    <li><a href="life-style.html">Life Style</a></li>
                                                    <li><a href="technology.html">Technology</a></li>
                                                    <li><a href="gaming.html">Gaming</a></li>
                                                    <li><a href="graphics.html">Graphics</a></li>
                                                    <li><a href="politics.html">Politics</a></li>
                                                </ul>
                                            </li>
                                            <li class="main-menu__nav_sub list">
                                                <a class="animation" href="javascript:void(0)">Pages</a>
                                                <ul class="main-menu__dropdown">
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="contact.html">Contact Us</a></li>
                                                    <li><a href="404.html">404</a></li>

                                                </ul>
                                            </li>
                                            <li class="main-menu__nav_sub list">
                                                <a class="animation" href="javascript:void(0)">Shop</a>
                                                <ul class="main-menu__dropdown">
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="single-shop.html">Shop Deatils</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- end main menu -->
                                <!-- start header actions -->
                                <ul class="header-action-items">
                                    <li class="item">
                                        <a href="#template-search"><i class="fas fa-search"></i></a>
                                    </li>
                                    <li class="item cart-icon">
                                        <a href="javascript:void(0)" class="cart-menu-btn menu-open-btn">
                                            <i class="fas fa-shopping-cart"></i>
                                            <span class="item-count">0</span>
                                        </a>
                                    </li>
                                    <li class="item humburger offcanvas-menu-btn menu-status-open">
                                        <span></span>
                                    </li>
                                </ul>
                                <!-- end header actions -->

                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- End Header Main -->

            </header>
            <!-- end header -->
            <!-- start rt-mobile-header -->
            <div class="rt-mobile-header mobile-sticky-on">

                <div id="mobile-sticky-placeholder"></div>
                <!-- end mobile-sticky-placeholder -->

                <div class="mobile-top-bar" id="mobile-top-bar">
                    <ul class="mobile-top-list">
                        <li>
                            <span class="rt-meta">
                                <i class="far fa-calendar-alt icon"></i>
                                <span class="currentDate1">@DateTime.Now.ToString("ddd, dd MMM yyyy")</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- end mobile-top-bar -->

                <div class="mobile-menu-bar-wrap" id="mobile-menu-bar-wrap">
                    <div class="mobile-menu-bar">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/assets/img/logo/logo-dark.svg" alt="neeon" width="162" height="52">
                            </a>
                        </div>
                        <span class="sidebarBtn">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </span>
                    </div>
                    <div class="rt-slide-nav">
                        <div class="offscreen-navigation">
                            <nav class="menu-main-primary-container">
                                <ul class="menu">
                                    <li class="list menu-item-has-children">
                                        <a class="animation" href="javascript:void(0)">Home</a>
                                        <ul class="main-menu__dropdown sub-menu">
                                            <li><a href="index.html">Home 01 - Main</a></li>
                                            <li><a href="index2.html">Home 02 - Technology</a></li>
                                            <li><a href="index3.html">Home 03 - Gaming</a></li>
                                            <li><a href="index4.html">Home 04 - Illustration</a></li>
                                            <li><a href="index5.html">Home 05 - Newspaper</a></li>
                                            <li><a href="index6.html">Home 06 - Magazine</a></li>
                                            <li><a href="index7.html">Home 07 - Sports</a></li>
                                            <li><a href="index8.html">Home 08 - Travels</a></li>
                                            <li><a href="index9.html">Home 09 - Fitness</a></li>
                                        </ul>
                                    </li>
                                    <li class="list menu-item-has-children">
                                        <a class="animation" href="javascript:void(0)">Features</a>
                                        <ul class="main-menu__dropdown sub-menu">
                                            <li class="list menu-item-has-children">
                                                <a href="javascript:void(0)">
                                                    Post Layout
                                                </a>
                                                <ul class="main-menu__dropdown sub-menu">
                                                    <li><a href="single-post1.html">Single Post 01</a></li>
                                                    <li><a href="single-post2.html">Single Post 02</a></li>
                                                    <li><a href="single-post3.html">Single Post 03</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="author.html">Author Deatils</a></li>
                                        </ul>

                                    </li>
                                    <li class="list menu-item-has-children">
                                        <a class="animation" href="javascript:void(0)">Categories</a>
                                        <ul class="main-menu__dropdown sub-menu">
                                            <li><a href="life-style.html">Life Style</a></li>
                                            <li><a href="technology.html">Technology</a></li>
                                            <li><a href="gaming.html">Gaming</a></li>
                                            <li><a href="graphics.html">Graphics</a></li>
                                            <li><a href="politics.html">Politics</a></li>
                                        </ul>
                                    </li>
                                    <li class="list menu-item-has-children">
                                        <a class="animation" href="javascript:void(0)">Pages</a>
                                        <ul class="main-menu__dropdown sub-menu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <li><a href="404.html">404</a></li>

                                        </ul>
                                    </li>
                                    <li class="list menu-item-has-children">
                                        <a class="animation" href="javascript:void(0)">Shop</a>
                                        <ul class="main-menu__dropdown sub-menu">
                                            <li><a href="shop.html">Shop</a></li>
                                            <li><a href="single-shop.html">Shop Deatils</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>



            </div>
            <!-- end rt-mobile-header -->
            <!-- Start Main -->
            <main>
                @RenderBody()

            </main>
            <!-- End Main -->
            <!-- Start Footer -->
            <footer class="footer">

                <div class="footer-top footer-style-1">
                    <div class="container">
                        <div class="row gutter-30">

                            <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="800ms">
                                <div class="footer-widget">
                                    <div class="logo footer-logo">
                                        <a class="dark-logo" href="index.html">
                                            <img width="162" height="52" src="~/assets/img/logo/logo-light.svg" alt="neeon">
                                        </a>
                                    </div>
                                    <p class="text">
                                        When an unknown printer took a galley
                                        and scrambled it to make specimen
                                        book not only five centurie.
                                    </p>
                                    <ul class="footer-social gutter-15">
                                        <li class="social-item">
                                            <a href="https://www.facebook.com/" class="social-link fb" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://twitter.com/" class="social-link tw" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://vimeo.com/" class="social-link vm" target="_blank">
                                                <i class="fab fa-vimeo-v"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://www.pinterest.com/" class="social-link pn" target="_blank">
                                                <i class="fab fa-pinterest-p"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://www.whatsapp.com/" class="social-link wh" target="_blank">
                                                <i class="fab fa-whatsapp"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="800ms">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">Recent Posts</h3>

                                    <!--  start footer-post-list -->
                                    <div class="footer-post-list">
                                        <div class="item mb--30">
                                            <div class="rt-post post-sm white-style">
                                                <div class="post-img">
                                                    <a href="single-post1.html">
                                                        <img src="~/assets/img/gallery/post-sm_1.jpg" alt="post" width="100" height="100">
                                                    </a>
                                                </div>
                                                <div class="ms-3 post-content">
                                                    <h4 class="post-title">
                                                        <a href="single-post1.html">
                                                            Top Beste ampute are
                                                            Speak Market.
                                                        </a>
                                                    </h4>
                                                    <span class="rt-meta">
                                                        <i class="far fa-calendar-alt icon"></i>
                                                        DECEMBER 9, 2022
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="rt-post post-sm white-style">
                                                <div class="post-img">
                                                    <a href="single-post1.html">
                                                        <img src="~/assets/img/gallery/post-sm_2.jpg" alt="post" width="100" height="100">
                                                    </a>
                                                </div>
                                                <div class="ms-3 post-content">
                                                    <h4 class="post-title">
                                                        <a href="single-post1.html">
                                                            Top Beste ampute are
                                                            Speak Market.
                                                        </a>
                                                    </h4>
                                                    <span class="rt-meta">
                                                        <i class="far fa-calendar-alt icon"></i>
                                                        DECEMBER 9, 2022
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--  end footer-post-list -->

                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-xl-3 col-md-6 wow fadeInUp d-flex justify-content-xl-center justify-content-start"
                                 data-wow-delay="400ms" data-wow-duration="800ms">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">Categories</h3>
                                    <ul class="widget-list cat-list">
                                        <li class="widget-list-item">
                                            <a href="politics.html" class="widget-list-link">
                                                Politics
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a href="politics.html" class="widget-list-link">
                                                Business
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a href="technology.html" class="widget-list-link">
                                                Technology
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a href="life-style.html" class="widget-list-link">
                                                Health
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a href="life-style.html" class="widget-list-link">
                                                Sports
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a href="gaming.html" class="widget-list-link">
                                                Entertainment
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="800ms">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">Instagram</h3>
                                    <div class="insta-gallery">
                                        <div class="galleryitem">
                                            <a href="https://www.instagram.com/">
                                                <img src="~/assets/img/gallery/ins-gallery_1.jpg" width="100" height="90" alt="gallery1">
                                            </a>
                                        </div>
                                        <div class="galleryitem">
                                            <a href="https://www.instagram.com/">
                                                <img src="~/assets/img/gallery/ins-gallery_2.jpg" width="100" height="90" alt="gallery2">
                                            </a>
                                        </div>
                                        <div class="galleryitem">
                                            <a href="https://www.instagram.com/">
                                                <img src="~/assets/img/gallery/ins-gallery_3.jpg" width="100" height="90" alt="gallery3">
                                            </a>
                                        </div>
                                        <div class="galleryitem">
                                            <a href="https://www.instagram.com/">
                                                <img src="~/assets/img/gallery/ins-gallery_4.jpg" width="100" height="90" alt="gallery4">
                                            </a>
                                        </div>
                                        <div class="galleryitem">
                                            <a href="https://www.instagram.com/">
                                                <img src="~/assets/img/gallery/ins-gallery_5.jpg" width="100" height="90" alt="gallery5">
                                            </a>
                                        </div>
                                        <div class="galleryitem">
                                            <a href="https://www.instagram.com/">
                                                <img src="~/assets/img/gallery/ins-gallery_6.jpg" width="100" height="90" alt="gallery6">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->

                        </div>
                    </div>
                </div>
                <!-- End footer top -->

                <div class="footer-bottom">
                    <div class="container">
                        <div class="footer-bottom-area d-flex align-items-center justify-content-center">
                            <p class="copyright-text mb-0 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="800ms">
                                <span class="currentYear"></span> © neeon all right reserved by
                                <a href="https://www.radiustheme.com/" rel="nofollow">RadiusTheme</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End footer bottom -->

            </footer>
            <!-- End  Footer -->

        </div>
        <!-- End main-content -->
        <!-- Start  offcanvas menu -->
        <div class="offcanvas-menu-wrap" id="offcanvas-wrap" data-position="left">

            <div class="offcanvas-content">
                <div class="offcanvas-header">
                    <div class="offcanvas-logo">
                        <div class="site-branding">
                            <a class="dark-logo" href="index.html">
                                <img width="162" height="52" src="~/assets/img/logo/logo-dark.svg"
                                     alt="neeon">
                            </a>
                            <a class="light-logo" href="index.html">
                                <img width="162" height="52"
                                     src="~/assets/img/logo/logo-light.svg" alt="neeon">
                            </a>
                        </div>
                    </div>
                    <div class="close-btn offcanvas-close">
                        <a href="javascript:void(0)">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="offcanvas-widget">
                    <h3 class="offcanvas-widget-title">About Us</h3>
                    <p>
                        The argument in favor of using filler text
                        goes something like this: If you use arey
                        real content in the Consulting Process
                        anytime you reachtent.
                    </p>
                </div>

                <div class="offcanvas-widget">
                    <h3 class="offcanvas-widget-title">Instagram</h3>
                    <div class="insta-gallery">
                        <div class="galleryitem">
                            <a href="https://www.instagram.com/">
                                <img src="~/assets/img/gallery/ins-gallery_1.jpg" width="100" height="90" alt="gallery1">
                            </a>
                        </div>
                        <div class="galleryitem">
                            <a href="https://www.instagram.com/">
                                <img src="~/assets/img/gallery/ins-gallery_2.jpg" width="100" height="90" alt="gallery2">
                            </a>
                        </div>
                        <div class="galleryitem">
                            <a href="https://www.instagram.com/">
                                <img src="~/assets/img/gallery/ins-gallery_3.jpg" width="100" height="90" alt="gallery3">
                            </a>
                        </div>
                        <div class="galleryitem">
                            <a href="https://www.instagram.com/">
                                <img src="~/assets/img/gallery/ins-gallery_4.jpg" width="100" height="90" alt="gallery4">
                            </a>
                        </div>
                        <div class="galleryitem">
                            <a href="https://www.instagram.com/">
                                <img src="~/assets/img/gallery/ins-gallery_5.jpg" width="100" height="90" alt="gallery5">
                            </a>
                        </div>
                        <div class="galleryitem">
                            <a href="https://www.instagram.com/">
                                <img src="~/assets/img/gallery/ins-gallery_6.jpg" width="100" height="90" alt="gallery6">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="offcanvas-widget footer-widget">
                    <h3 class="offcanvas-widget-title">Contact Info</h3>
                    <ul class="contact-info-list widget-list">
                        <li class="widget-list-item">
                            <i class="fas fa-map-marker-alt list-icon"></i>
                            Chicago 12, Melborne City, USA
                        </li>
                        <li class="widget-list-item">
                            <i class="fas fa-phone-alt list-icon"></i>
                            <a href="tel:123333000999" class="widget-list-link">
                                (123) 333-000-999
                            </a>
                        </li>
                        <li class="widget-list-item">
                            <i class="fas fa-envelope list-icon"></i>
                            <a href="mailto:info@example.com" class="widget-list-link">
                                neeon@gmail.com
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-social style-2 gutter-15">
                        <li class="social-item">
                            <a href="https://www.facebook.com/" class="social-link fb" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="https://twitter.com/" class="social-link tw" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="https://vimeo.com/" class="social-link vm" target="_blank">
                                <i class="fab fa-vimeo-v"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="https://www.pinterest.com/" class="social-link pn" target="_blank">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="https://www.whatsapp.com/" class="social-link wh" target="_blank">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End  offcanvas menu -->
        <!-- Start Cart Wrap -->
        <div class="cart-wrap" id="cart-wrap" data-position="left">
            <div class="cart-content">
                <div class="cart-header">
                    <span class="cart-title d-inlie-block">Cart</span>
                    <button type="button" class="cart-menu-btn menu-close-btn">
                        <span class="menu-btn-icon">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>
                </div>
                <ul class="cart-items ">
                    <li class="d-flex ">
                        <div class="item-figure">
                            <a href="#">
                                <img src="~/assets/img/gallery/ins-gallery_1.jpg" alt="Cart" width="100" height="90">
                            </a>
                            <div class="item-dismiss">
                                <a href="#"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                        <div class="item-description">
                            <span class="item-main-title"><a href="#">Animal</a></span>
                            <span class="item-amount d-flex align-items-center">
                                <span class="item-quantity">1</span>X<span class="item-price">$12.00</span>
                            </span>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="item-figure">
                            <a href="#">
                                <img src="~/assets/img/gallery/ins-gallery_2.jpg" alt="Cart" width="100" height="90">
                            </a>
                            <div class="item-dismiss">
                                <a href="#"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                        <div class="item-description">
                            <span class="item-main-title"><a href="#">Sports</a></span>
                            <span class="item-amount d-flex align-items-center">
                                <span class="item-quantity">1</span>X<span class="item-price">$18.00</span>
                            </span>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="item-figure">
                            <a href="#">
                                <img src="~/assets/img/gallery/ins-gallery_3.jpg" alt="Cart" width="100" height="90">
                            </a>
                            <div class="item-dismiss">
                                <a href="#"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                        <div class="item-description">
                            <span class="item-main-title"><a href="#">Fashion</a></span>
                            <span class="item-amount d-flex align-items-center">
                                <span class="item-quantity">1</span>X<span class="item-price">$20.00</span>
                            </span>
                        </div>

                    </li>
                </ul>
                <div class="cart-footer">
                    <ul class="total-amount">
                        <li class="title">Subtotal:</li>
                        <li class="amount">$50.00</li>
                    </ul>
                    <ul class="action-buttons">
                        <li><a href="#" class="rt-submit-btn">VIEW CART</a></li>
                        <li><a href="#" class="rt-submit-btn">CHECKOUT</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Cart Wrap -->
        <!-- Start Search  -->
        <div id="template-search" class="template-search">
            <button type="button" class="close">×</button>
            <form class="search-form">
                <input type="search" value="" placeholder="Search" />
                <button type="submit" class="search-btn btn-ghost style-1">
                    <i class="flaticon-search"></i>
                </button>
            </form>
        </div>
        <!-- End Search -->
        <!-- theme-switch-box -->
        <div class="theme-switch-box-wrap">
            <div class="theme-switch-box">
                <span class="theme-switch-box__theme-status"><i class="fas fa-cog"></i></span>
                <label class="theme-switch-box__label" for="themeSwitchCheckbox">
                    <input class="theme-switch-box__input" type="checkbox" name="themeSwitchCheckbox"
                           id="themeSwitchCheckbox">
                    <span class="theme-switch-box__main"></span>
                </label>
                <span class="theme-switch-box__theme-status"><i class="fas fa-moon"></i></span>
            </div>
        </div>
        <!-- end theme-switch-box -->
        <!-- start back to top -->
        <a href="javascript:void(0)" id="back-to-top">
            <i class="fas fa-angle-double-up"></i>
        </a>
        <!-- End back to top -->

    </div>
    <!-- End wrapper -->
    <!-- Dependency Scripts -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/assets/plugins/popper.js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/appear/appear.min.js"></script>
    <script src="~/assets/plugins/swiper/js/swiper.min.js"></script>
    <script src="~/assets/plugins/masonry/masonry.min.js"></script>
    <script src="~/assets/plugins/magnific-popup/js/magnific-popup.min.js"></script>
    <script src="~/assets/plugins/theia-sticky-sidebar/resize-sensor.min.js"></script>
    <script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.min.js"></script>
    <script src="~/assets/plugins/validator/validator.min.js"></script>
    <script src="~/assets/plugins/tween-max/tween-max.js"></script>
    <script src="~/assets/plugins/wow/js/wow.min.js"></script>

    <!-- custom -->
    <script src="~/assets/js/app.js"></script>

</body>


<!-- Mirrored from radiustheme.com/demo/html/neeon/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Feb 2022 16:15:17 GMT -->
</html>

