<div class="sidemenu-area">
    <div class="sidemenu-header">
        <NavLink href="/" class="navbar-brand d-flex align-items-center">
           WHERE KOZUBKA
        </NavLink>

        <div class="responsive-burger-menu d-block d-lg-none">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>
    </div>
    <div class="sidemenu-body">
        <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
            <li class="nav-item active">
                <a href="teams" class="nav-link">
                    <span class="icon"><i class="ri-briefcase-line"></i></span>
                    <span class="menu-title">Мої команди</span>
                </a>
            </li>

        </ul>
    </div>
</div>

@code {

}
